[2014-04-24 22:13] kevinreedy opened #1 "Source installs are broken"
End of output of `kitchen test source-ubuntu-1204`

[code]

I have the same results with any of the source installs. I also tried using ark version 0.8.0 rather than the latest 0.8.2, which had the same results. Are you also seeing this?

[2014-04-24 22:31] kevinreedy opened #2 "Binary installs broken on centos"
Binary installs on CentOS 5.10 and 6.5 install the binary, but it's unable to be run due to glibc incompatibilities:

[code]

My thought to fix this is to have the default recipe do install by package on ubuntu and source on centos. This way default should always work. I'd then throw excludes in `.kitchen.yml` for binary/centos. Thoughts?

[2014-05-06 01:33] #2 closed, assigned to nobody

[2014-05-09 11:54] #1 closed, assigned to johnbellone

[2014-07-21 14:18] jhmartin opened #23 "Add service LWRP example"
Please add an example of using the service LWRP to the Readme.

[2014-07-30 23:42] jhmartin opened #28 "Ark version"
Does consul-cookbook actually require ark 0.8.0 or greater, or will an older version suffice?

[2014-07-31 15:38] jhmartin opened #30 "Repoforge dependency"
What component depends on repoforge?

[2014-07-31 20:03] #30 closed, assigned to nobody

[2014-07-31 20:05] #28 closed, assigned to nobody

[2014-08-04 19:06] kshep opened #31 "Implementing bootstrap-expect"
Per the current Consul docs:

Should there be a new <code>['consul']['service_mode']</code> setting for bootstrap-expect?

I'd be happy to tackle this and submit a PR if it's not a high priority for anybody else.

[2014-08-07 14:07] nickapos opened #33 "Installation fails with ERROR: service[consul] (consul::_service line 112) had an error: Chef::Exceptions::Service: service[consul]: unable to locate the init.d script!"
This happens on centos 6.5
It seems that the error is caused by the installation of the json file inside the _services.rb file just before the installation of the service itself.
If the jsonfile block is moved after the service installation block then the error dissapears

[2014-09-10 19:54] ghost opened #40 "Create consul_directories in install_* recipes"
What do you think of moving the `consul_directories.each` block from `_service.rb` to the `install_*.rb` recipes? That way, `consul::install_binary` could be run in an initial setup step, monitored services could be added to that directory, and later on the consul service could be enabled and started in a later step without needing to fuss with creating `node['consul']['config_dir']` for every ser

[2014-09-14 17:17] jf647 opened #41 "Install from source fails integration tests"
I attempted to wrap this cookbook and install consul v0.4.0 using install_method = 'source' and source_revision = 'v0.4.0'

My test-kitchen runs failed thusly:

[code]

I logged into the kitchen instalce and tried to run the go get command by hand and got this:

[code]

I then added 'package gcc' before including the consul recipe, and the kitchen test succeeded.  It appears that the gomdb package

[2014-09-16 18:17] #33 closed, assigned to nobody

[2014-09-17 20:06] noazark opened #45 "Publish v0.4.2"
It looks like v0.4.2 has not been published to the Chef registry. Is there any particular reason for this, or would you mind publishing it? Thanks for all the work on this, I greatly appreciate it.

[2014-09-19 11:53] #45 closed, assigned to nobody

[2014-09-19 11:53] #23 closed, assigned to nobody

[2014-09-28 17:16] noazark opened #47 "Stop Consul With SIGINT"
Instead of [`kill $PID`](https://github.com/johnbellone/consul-cookbook/blob/a5d998773d67d633ac4a77b7a66627647b935b4d/templates/default/consul-init.erb#L48), stopping should send SIGINT, therefore `kill -INT $PID`, which will gracefully leave the cluster. `kill`'s default signal is SIGTERM if I'm not mistaken. I'll make a PR for this if necessary.

[2014-09-29 01:41] #47 closed, assigned to nobody

[2014-10-10 14:24] elubow opened #49 "Write HOWTO"
It would be great if someone could put together a howto on getting a consul.io cluster going from scratch with Chef.  It's not immediately obvious how to start up a cluster using this cookbook and whether nodes should be started in `bootstrap` mode or `server` mode or how `bootstrap_expect` should be used.

[2014-10-15 20:27] #40 closed, assigned to nobody

[2014-10-28 00:56] wilreichert opened #63 "/etc/sysconfig does not exist on Ubuntu 14.04"
latest git gives the following error:

[code]

[2014-10-28 16:43] lyrixx opened #66 "Create a new provider "check_def""
Right now, the only way to create a check it to set-up a service. Because with my current stack,
it's much easier to just add some check:
refs: https://consul.io/docs/agent/checks.html

[2014-10-30 17:29] dpetzel opened #72 "Doesn't restart on configuration change"
I'm not sure if this is by design or not, so feel free to close if it is.

I noticed today that when you apply a new configuration, the consul service is not restarted. Specifically in my case today, I had originally spun up the service using all the defaults and found the service was listening on `127.0.0.1`. So i then set `node.default[:consul][:bind_addr] = '0.0.0.0'` and re-ran Chef. The confi

[2014-10-30 17:46] dpetzel opened #73 "client_addr not included in configuration file"
This is related to https://github.com/johnbellone/consul-cookbook/issues/72, but is a slightly different issue so want to treated it as such.

Based on the [documentation](https://consul.io/docs/agent/options.html#_client) the `client_addr` configuration element is what controls what IP's the service will bind to. When not set this defaults to 127.0.0.1. manually adding this element to the json co

[2014-11-01 17:20] lyrixx opened #76 "The service consul is not present and restart fail"
The error

My code:

[code]

I used `init` for service configuration

[2014-11-03 13:02] #72 closed, assigned to nobody

[2014-11-04 01:50] dpetzel opened #77 "Interest in Key/Value LWRP"
I was thinking about adding an LWRP (`consul_kv`) to allow for idempotent puts and deletes into the KV store. Before I go down that path is there enough interest to warrant it/would a PR get accepted?

Thanks

[2014-11-06 20:05] #76 closed, assigned to nobody

[2014-11-06 20:12] #49 closed, assigned to nobody

[2014-11-09 13:31] #77 closed, assigned to nobody

[2014-11-13 22:16] #63 closed, assigned to nobody

[2014-11-13 23:31] thedebugger opened #89 "Add support for dnsmasq"
What do you guys think about adding support for dnsmasq in separate recipe? I can submit a pull request.

[2014-11-21 17:15] adrienbrault opened #93 "Allow to use retry_join instead of start_join"
http://www.consul.io/docs/agent/options.html#retry_join
http://www.consul.io/docs/agent/options.html#_retry_join

[2014-12-02 10:31] memelet opened #96 "Wrong user used for services when using upstart"
When the init_style is runit no user is created. But then when any of resources are used (ie, consul_service_def) they try to use node['consul']['service_user'] (== "consul").

[2014-12-09 14:22] lyrixx opened #97 "Every NEW node will fail at first chef-client"
Hello.

On every nodes, during the very first chef-client, I got this:

[code]

This occurs when consul is installed for the very first time. It does not occur anymore for run `N>=2`

As you can see, I'm using `init`

[2014-12-11 12:05] #97 closed, assigned to nobody

[2014-12-11 13:36] #41 closed, assigned to johnbellone

[2014-12-11 22:20] tgwizard opened #99 "Should check_def create the file using the id property instead of name?"
https://github.com/johnbellone/consul-cookbook/blob/master/resources/check_def.rb#L31

I think that names usually/often contain spaces, as they do in the examples here https://consul.io/docs/agent/checks.html and in "Serf Health Status". Wouldn't it be better to use id - "serfHealth" - as part of the name of the file instead?

[2014-12-16 19:23] #99 closed, assigned to nobody

[2014-12-19 13:00] #93 closed, assigned to nobody

[2014-12-22 15:23] #66 closed, assigned to nobody

[2015-01-12 03:26] kainosnoema commented on #31
This looks resolved to me. Thanks!

[2015-01-12 13:35] #31 closed

[2015-01-12 16:34] fernandohonig opened #106 "Add chef_search capabilities to server nodes"
Currently there is no way to bootstrap a full cluster without creating the nodes first and update the ['consul']['servers'] array with the list of IPs.

I can work in some recipe to tag the nodes and use that tag to make a chef_search and when reached the number of servers needed, bootstrap the cluster.

[2015-01-12 19:09] isuftin opened #107 "Vagrant is unable to restart consul service"
@johnbellone I'm not sure what the issue here is
My Vagrantfile configuration:

    config.vm.define "cs1", primary: true do |cs1|
    cs1.vm.hostname = "cs1.cida.vagrantup.com"
    cs1.vm.network "private_network", ip: "10.0.0.10"
    cs1.vm.provision :chef_zero do |chef|
      chef.data_bags_path = "data_bags"
      chef.json.merge!({
          :consul => {
            "servers" => ["10.0.0.10",

[2015-01-12 20:15] isuftin commented on #107
Note: This is being done in CentOS-65

[2015-01-12 21:32] isuftin commented on #106
:+1: This would be useful. Im trying to figure out how I would do that today if I know I plan on having 3, 5, etc servers up

[2015-01-13 07:29] memelet commented on #96
Sorry, kind of lost track here. I have been using init_style=init but with this recipe (using 0.6.0):

[code]

Next time I work on this wrapper I will test without creating the user.

[2015-01-13 09:55] fernandohonig commented on #106
Could be something like this. Make any comments please.

tag('consul_cluster') if node[consul][service_mode] == 'cluster'

nodes = search('node', 'tags:consul_cluster')
	Chef::Log.debug("Found consul nodes at #{nodes.join(', ').inspect}")
node.set['consul']['servers'] = nodes.join(',')

if node['consul']['servers'].to_i >= node['consul']['bootstrap_expect']
	 node.set['consul']['retry_on_join'] =

[2015-01-14 00:42] isuftin commented on #106
@fernandohonig I'd really appreciate something like that. The workflow I'm dealing with right now just doesn't work in an automated fashion. Im trying to cluster 3 servers and I already know what their addresses will be, but if I have the default['consul']['servers'] attribute set when provisioning the machines, they fail to come up. I have a ticket open [here](https://github.com/johnbellone/consu

[2015-01-14 02:51] isuftin commented on #106
@fernandohonig Actually, now that I thought about it, is this necessary? Consul clusters will learn about one another when they connect. I've had luck with the following:

    (1..3).each do |i|
    config.vm.define "cluster-#{i}", primary: true do |node|
      node.vm.network "private_network", ip: "10.0.0.1#{i}"
      node.vm.provider "vmware_fusion" do |v|
        v.vmx["memsize"] = "256"

[2015-01-14 03:07] isuftin commented on #107
An update. I've figured out a decent Vagrantfile that works. The issue described above is when you feed an array of servers to a cluster that may not yet exist. (e.g. ["10.0.0.10","10.0.0.11","10.0.0.12"] ). If those servers don't exist, the consul service will not restart properly. I would consider this a bug but I don't know whether it's a bug in the cookbook or in the consul application itself.

[2015-01-29 22:34] mcoms opened #111 "extra_params doesn't merge"
I'd like to change the DNS port Consul listens on. If I include the following for `extra_params`:

[code]

The resulting `default.json` is:

[code]

And the consul service fails to start.

[2015-01-29 22:37] mcoms commented on #111
Ah, scratch that... I discovered:

[code]

:)

[2015-02-02 01:49] #111 closed

[2015-02-02 17:34] akerekes opened #116 "install_binary breaks upgrade"
The file resource in install_binary which is intended to change the permissions of the installed binary also changes the mod_date of the executable to the current date. E.g.: if I install an older version of consul in 2014 December, which has mod_date of 2014 August, the file resource will change the mod_date to 2014 December. Now if I want to install a newer version that was released e.g in 2014

[2015-02-04 19:32] jhmartin opened #120 "Purpose yum-repoforge?"
What is the purpose of this dependency? It appears to only be referenced in the Kitchen configuration. Including this forces Yum 3.0 cookbook in the dependency tree, which is difficult to migrate to from 2.0 in a large installation.

[2015-02-05 13:14] johnbellone commented on #120
Purpose was for EL5 compilation. I don't have any problems removing it.

[2015-02-05 15:19] johnbellone commented on #120
I'll take a look at doing this later. Its probably time we put a bullet in EL5 support.

[2015-02-06 04:20] reset commented on #116
@akerekes thanks for the report. This is fixed in https://github.com/johnbellone/consul-cookbook/pull/121

[2015-02-06 04:20] #116 closed

[2015-02-07 21:42] jhmartin opened #124 "Databag item 'ca_file' misnamed"
The documentation indicates that a databag item with the key 'ca_file' will become the contents of /etc/consul.d/ca.pem, however the key actually needs to be 'ca_cert'.

[2015-02-07 22:30] jhmartin opened #125 "Sensitivity to HUP during launch"
The consul agent is sensitive to a HUP during its initialization process, such as when invoked via 'knife ssh'.  Adding a nohup to the invocation or adding a sleep after it seems to clear up the issue.

I've opened an issue against consul itself as well.

[2015-02-09 01:18] johnbellone commented on #125
I'm not sure if this is a recipe bug or something due to underlying service. It sounds like we should wait to hear back from the project. Do you have a link to the issue?

[2015-02-09 01:21] johnbellone commented on #89
I don't think this is an enhancement on our end. Its something you would provide in an environment or wrapper cookbook.

[2015-02-09 01:21] #89 closed

[2015-02-09 01:23] johnbellone commented on #106
I am not a fan of using search as a means of orchestration. A few months back I [put an example of using chef-provisioning](https://github.com/johnbellone/consul-cookbook/blob/master/cluster.rb) to bootstrap a cluster. Let me think about this a little more.

[2015-02-09 15:47] jhmartin commented on #125
Heard back from HashiCorp: https://github.com/hashicorp/consul/issues/677 .  They say the HUP is coming in before the signal handler is installed, and the init script should add a delay.

[2015-02-09 15:57] jhmartin opened #128 "Kill on incomplete shutdown"
I'm seeing that a when chef'ing a new node, consul is not shutting down during a /etc/init.d/consul restart and is breaking the bootstrap.  The init script 'stop' should enforce that the process be killed by the end of the script rather than giving up and returning a non-0 exit code, by sending a kill -9 if the process hasn't gone down in the provided time.

[2015-02-13 20:32] dgarstang opened #131 "ui-dir not in config template"
The docs say you can use ['consul']['client_address'] to start the UI, however the -ui-dir isn't anywhere in the config.

[2015-02-18 01:43] thedebugger opened #133 "consul::ui recipe is failing to converge with Errno::EISDIR"
[code]

[2015-02-26 11:44] #133 closed

[2015-02-26 11:45] #128 closed

[2015-02-26 14:52] jhmartin opened #136 "Add 0.5.0 checksums"
Consul 0.5.0 has been released, so the new archive checksums need to be added.

[2015-02-27 16:16] albertsj1 opened #137 "chef-provisioning should not be a dependency"
For some reason, chef-provisioning has been added to metadata.rb as a dependency.  While I understand chef-provisioning is used for testing this cookbook, I don't see the need for it to be in metadata.rb.  If anything, it should be in the Gemfile.  Please remove this dep.

[2015-03-02 19:40] #136 closed

[2015-03-04 00:22] johnbellone commented on #137
Removed in [this commit for 1.0.0](https://github.com/johnbellone/consul-cookbook/commit/28e88e6623be623648372deb90e4c4d0f4008523).

[2015-03-04 00:44] albertsj1 commented on #137
Thanks

[2015-03-04 11:35] #137 closed

[2015-03-04 21:55] donaldguy commented on #96
@johnbellone This does not work, for wrapper cookbooks at least. `init_style` isn't set to `runit` until after compile of the cookbook, by which the user and group are already hardcoded as root on both node and in recipe variables

I am (working on) working around by using a chef-sugar `compile_time` block, but the better option might be to do the conditional evaluation in a `ruby_block` resource

[2015-03-07 21:50] dpkp opened #139 "Is the chef-provisioning cookbook a dependency?"
metadata.rb lists the chef-provisioning cookbook as a dependency.  But it seems like the only relation to chef-provisioning is that it is a recommended way to use consul-cookbook (via cluster.rb).  Indeed the Usage docs for consul:

[code]

does not use the chef-provisioning cookbook -- it uses a simple gem install.  So it seems odd to make installing the chef-provisioning cookbook a requirement f

[2015-03-11 19:44] thedebugger opened #140 "Consul fails to restart with access denied error if the consul user is change"
Run consul as root, create a service definition, change the consul user to 'consul', and reconverge chef – consul fails to start since it doesn't have right permissions on the files inside the consul directories.

[2015-03-14 13:50] #140 closed

[2015-03-14 14:13] #120 closed

[2015-03-14 14:18] #139 closed

[2015-03-17 19:57] donaldguy opened #149 "`server` v `cluster` semantics unclear to new user / "Getting Started" under-discoverable"
As I explained at length in #135 , I shot myself in the foot by missing the Getting Started section. I saw Usage, it only mentioned chef-provisioning which I didn't want to use (cause we autoscale) and by the time I was reading LWRP definitions, I assumed all that would follow was more of that (which I would look at more closely once I had a cluster running) and perhaps a "contributing" section.

[2015-03-20 21:55] agperson opened #150 "Broken SysVinit script -- Consul fails to start on RHEL platforms (Amazon Linux, CentOS, etc.)"
Standard "init" fails to start due to quoting of $CMD.  Removing quotation marks fixes issue:

[code]
Logfile is empty but in messages:
[code]

After removing quotation marks:
[code]

Change is: #115 (77b2fd90a24fd737528fa5a2da8f141a1a6b0d71 line 44)

[2015-03-21 23:43] gwilton opened #151 "Gossip/TLS encryption node attributes still requires consul data_bag, encrypt item, secret"
Setting the following consul attributes fails.
[code]

Chef::Exceptions::ValidationFailed
----------------------------------
Data Bag Items must contain a Hash or Mash!

ArgumentError
-------------
No secret specified and no secret found at /etc/chef/encrypted_data_bag_secret

I had to create a "consul" databag with a "encrypt" item.
[code]
Also had to provide the secret file. Which is kinda weird

[2015-03-26 16:52] zarry commented on #131
@dgarstang I believe you need to set node['consul']['serve_ui'] = true to get the ui_dir added to the service config.

[2015-03-30 18:18] agperson opened #156 "Lock libarchive cookbook version to maintain Chef 11 compatibility"
See: libarchive-cookbook#7

[2015-03-31 20:21] rackerbenoit opened #157 "Running default.rb recipe"
file[/etc/consul.d/default.json] action create (up to date)
  * template[/etc/sysconfig/consul] action create (up to date)
  * template[/etc/init.d/consul] action create (up to date)
  * service[consul] action enable (up to date)
  * service[consul] action start

    ================================================================================
    Error executing action `start` on resource 'ser

[2015-03-31 21:50] rackerbenoit commented on #157
I should be able to just run this and have everything installed, yes?: chef-client -o "recipe[consul::install_source]"

[2015-04-01 23:41] logankoester commented on #124
This is also true of the `['consul']['ca_file']` attribute. Using `['consul']['ca_cert']` does populate the expected file, as in your case.

[2015-04-02 17:12] hatchetation commented on #150
This issue affects us as well on RHEL, this would seem to affect *all* platforms using SysVinit.  The fix @agperson mentions works well here, seems sane.

[2015-04-02 17:17] agperson commented on #150
updated title.

[2015-04-02 19:49] #150 closed

[2015-04-02 19:54] johnbellone commented on #157
What operating system and version are you using?

[2015-04-02 20:35] rackerbenoit commented on #157
I am using CentOS 6.6 on an AWS EC2 node.

[2015-04-03 14:38] krzysztofszarek commented on #157
I have the same issue on CentOS 6.6 on AWS.

[2015-04-07 13:45] rackerbenoit commented on #157
Intersting....I haven't had a lot of time to look through the Cookbook but I feel like it should be a simple fix. Hopefully anyways

[2015-04-09 10:14] logankoester commented on #151
I'm doing almost the same thing, and didn't have to create any data bags. The only difference is instead of setting the values of "ca_file", "cert_file" and "key_file" attributes to filesystem paths, I have set them to the contents of those files (as a string).

[2015-04-16 19:45] rackerbenoit commented on #157
@johnbellone, any progress on this?

[2015-04-16 20:12] agperson commented on #157
Isn't this just #150?

[2015-04-16 21:08] rackerbenoit commented on #157
Not quite. When I run this command: chef-client -o "recipe[consul::install_source]"
The installation never happens and the error listed above is thrown.

[2015-04-21 16:03] marc- opened #165 "Missing package on RHEL7 AWS"
cloud Amazon EC2
Red Hat Enterprise Linux Server release 7.1 (Maipo)
consul-cookbook version 0.9.1
[code]
AWS yum repo doesn't contain package libarchive-devel:
[code]
I suggest to use cookbook [ark](https://github.com/burtlo/ark) instead of libarchive .

[2015-04-24 15:37] GonZo commented on #157
Hi,
 I'm having the same problem running "CentOS release 6.6 (Final)"
:+1:

Cheers

[2015-05-04 22:17] rojomisin commented on #157
I have the same issue on aws and vagrant instances, I have tried using vagrant boxes 'chef/centos-6.6' and 'chef/centos-7.0'.  (I prefer centos66)
looks to be related to the go install

[code]

here's the full error output in a gist
https://gist.github.com/rojomisin/bffd4417019dbb30681d

[2015-05-05 14:38] dpkp commented on #96
Fixed in 0.7.0?

[2015-05-05 18:17] rojomisin opened #168 "consul systemd hangs at 'create symlink at /etc/service/consul to /etc/sv/consul' on Centos70"
I am trying to get consul to work on Centos70, which worked in Vagrant, so I packer'd up a centos7 ami and launched with `recipe[consul]` and custom json
[code]
things seemed ok, but it just hangs endlessly

[code]

does anyone have a working combination of centos66 or centos7 + consul working?

[2015-05-05 19:52] dpkp opened #169 "consul::install_binary should not install compilers on host"
I'd like to avoid installing compilers and other build tools on production servers. But the ::install_binary recipe causes compilers and other tools to get installed via apt (testing on ubuntu 12.04). It looks like this is caused by the libarchive cookbook dependency, which compiles the libarchive library as part of the ruby gem install. Due to the compiler install, I can't use the cookbook to ins

[2015-05-06 09:23] rsteube commented on #169
+1
[ark](https://supermarket.chef.io/cookbooks/ark) might be an alternative

[2015-05-06 10:54] rsteube commented on #169
Here's an example for `install_binary.rb`, which includes download, extraction and symbolic link (but with different folder structure in opt):
[code]
Simple extraction with current folder structure can be done like this:
[code]

[2015-05-11 16:19] jslusher opened #170 "Error executing action `extract` on resource 'libarchive_file[consul.zip]'"
I'm still looking into what changed since I had this working last week. I'm getting this error now from the consul::install_binary recipe:
    uninitialized constant Archive::EXTRACT_OWNER

Initial googling shows that it's related to the ruby gem that unzips files (libarchive I suppose). I don't believe the version of that has changed, but I can't be certain just yet. I thought it merited an issue

[2015-05-13 21:55] dpkp commented on #170
consul-cookbook depends on libarchive cookbook, which is broken as of chef-dk v0.4

see https://github.com/reset/libarchive-cookbook/issues/9

[2015-05-14 15:03] ewr commented on #169
:+1: to using something other than libarchive. I just discovered this morning that chef runs on several of my nodes have been broken for a while, but they were failing via libarchive during the compile phase and were therefore not far enough to have installed the handlers that would have alerted me.

[2015-05-14 15:26] dpkp commented on #169
ewr: I think that is worth opening a separate issue!

[2015-05-15 02:40] dontrebootme commented on #73
Running into this same issue. I vote for having the conditional for the ui removed from accepting client_addr or being reworked as well.

[2015-05-18 13:44] csghuser opened #173 "Multiple checks for one service"
Hi,
Sorry if this is obvious and I have missed it. Is there a way to add a service with multiple checks, rather than just one?

If so, what is the syntax?

Thanks!

[2015-05-20 20:49] zarry commented on #173
I was actually wondering about this as well.

[2015-05-22 07:19] csghuser commented on #173
Looks like this is the pull request where the feature was added to consul:
https://github.com/hashicorp/consul/pull/591

[2015-05-22 22:58] spuder opened #175 "consul::ui doesn't start with UI process"
If I add the consul UI recipe, I would expect that the init scripts would add the -ui option to the start script.

Current init script

    ...
    /usr/local/bin/consul agent -config-dir /etc/consul.d

Expected init script

     ...
     /usr/local/bin/consul agent -config-dir /etc/consul.d -ui-dir /opt/consul_ui/0.5.1/dist/

Is this by design?

It looks like you might be able to load the UI in t

[2015-05-22 23:17] spuder commented on #175
Derp, Guess I got to read the instructions better.

By setting `['consul']['serve_ui']` the default template is edited.

[2015-05-22 23:17] #175 closed

[2015-05-23 16:01] spuder opened #177 "Question - How to do different configs on different servers"
I'm trying to figure out how to use this cookbook to deploy different configs on different servers.

I have
[code]

How can I make it so that the web servers and the database servers have different configs?

I'm thinking I could do one of the following. None of which seems optimal.

1. Create wrapper cookbooks for each server type, the cookbook manages `/etc/consul.d/web.conf` ect..
2. Create sing

[2015-05-24 13:33] johnbellone commented on #177
This may be easier with the develop branch. I am writing tests for it now
and hoping to have it ready to ship in a week or so.

You would use the new LWRP for different consul instances.
On Sat, May 23, 2015 at 12:02 Spencer Owen <notifications@github.com> wrote:

[2015-05-24 13:38] johnbellone commented on #169
I'll revisit this in the 1.0 release that's on the develop branch. Right now it is using libarchive but maybe @reset and I can figure a way out to not yank in build-essentials.

[2015-05-24 13:39] johnbellone commented on #170
Is this still an issue with ChefDK 0.6?

[2015-05-24 13:40] johnbellone commented on #96
I'll wrap this up with the 1.0 release.

[2015-05-24 13:41] johnbellone commented on #168
The 1.0 release will support systemd/upstart/sysv through poise-service.

[2015-05-24 15:01] tgwizard commented on #177
One simple way would be to create three chef roles: `consul-server`, `web`, and `database`. Each of these include a their own recipe in their runlist, e.g. `consul_server.rb`, `web.rb`, and `database.rb`. These recipes could be in separate cookbooks, or in one common cookbook, depending on your use-case. The recipes depend on the `consul` cookbook and uses its resources/providers/LWRP to define se

[2015-05-26 13:46] spuder commented on #177
Good idea,

Can a runlist include just a single recipe?

If so, I could make a `consul-agent` cookbook, where the `default` recipe is blank.

[code]
Then I just include the specific recipies in the role.

[code]

[2015-05-26 21:48] spuder opened #182 "Question - How to use consul_check"
I'm trying to use a LWRP to just add a check to a server. The documentation has examples of how to do this with services and checks, but not just the `consul_check` provider.

Here is the `consul_service_def` that works

[code]

Which succesfully translates to

[code]

However, this is what I am trying to do with the check_def provider
[code]

This errors out

[code]

I've also tried the following

[2015-05-26 22:26] spuder commented on #182
If you remove 'timeout' then the following works.

[code]
It has the side affect that the output in the consul web ui will show the entire html dump.

Shall I create a pull request to update the readme.md?

[2015-05-28 07:43] csghuser commented on #182
I'm not having much look with this LWRP syntax. If I put the following:

[code]

I get:

[code]

What am I doing wrong.....?

[2015-05-28 08:12] csghuser commented on #182
Nevermind... this seems to work fine with the latest version. I was using an older version to work around https://github.com/johnbellone/consul-cookbook/pull/158

[2015-05-30 05:10] spuder commented on #177
^ This is what I ended up doing. It works well enough.

[2015-05-30 05:10] #177 closed

[2015-05-30 15:06] spuder opened #184 "Windows support"
I'd really like to install consul on my windows web servers.

Are there any plans to add windows support?

I'm pretty new to chef, and I'm not a windows expert. I'm debating how big of a task this would be.

[2015-06-02 13:04] benmcrae opened #185 "Missing checksum for 0.5.2"
Are you planning to do a new tagged release with the PR #176 changes?

[2015-06-03 21:43] rbastian commented on #185
+1

[2015-06-03 23:11] RobertNorthard commented on #185
+1

[2015-06-04 11:28] #185 closed

[2015-06-04 11:28] johnbellone opened #186 "HTML tables are garbage, use markdown"
This is mainly due to the fact that Supermarket does not render them appropriately. But the Markdown tables look a hell of a lot better when editing, too!

[2015-06-04 11:30] #131 closed

[2015-06-04 11:32] #182 closed

[2015-06-04 22:46] arodd opened #187 "Release Tag for 0.10.0"
Can you change the release tag to match the pattern? I can see us using this in the future to help constrain our cookbooks to a specific version when using this tool.  https://github.com/websterclay/knife-github-cookbooks

IE: KV in consul to represent community cookbook and currently desired push to chef.

cookbook: "git@github.com:johnbellone/consul-cookbook.git"
version: "v0.8.3"

1. make a new

[2015-06-04 23:23] arodd commented on #187
I now see that the v0.10.0 tag exists which I think as long as the tag exists it should likely be fine in my case.

[2015-06-05 01:11] johnbellone commented on #187
I modified the release so that it points to v0.10.0.

[2015-06-05 01:11] #187 closed

[2015-06-08 18:19] aardestani commented on #184
start by looking at this
https://github.com/johnbellone/consul-cookbook/pull/154

you need to download the specific revision of this repo that supports windows and use chef to install and configure consul, have already tried this on chef 11.18.6 and windows 2012 standard x64

[2015-06-09 01:31] #184 closed

[2015-06-16 11:06] johnbellone commented on #124
I am closing this out because of impeding #126 landing on master.

[2015-06-16 11:06] #124 closed

[2015-06-16 11:07] johnbellone commented on #151
I am closing this out because of impeding #126 landing on master. This will still require a chef-vault data bag for seeding the initial secrets.

[2015-06-16 11:07] #151 closed

[2015-06-16 11:07] johnbellone commented on #157
I am closing this out because of impeding #126 landing on master. This is converging cleanly on EL6.6.

[2015-06-16 11:07] #157 closed

[2015-06-16 11:08] johnbellone commented on #168
I am closing this out because of impeding #126 landing on master. The expectation here is that you'll be able to use the native pid managers as well as others such as supervisord/runit.

[2015-06-16 11:08] #168 closed

[2015-06-16 11:09] johnbellone commented on #96
I am closing this out because of impeding #126 landing on master.

[2015-06-16 11:09] #96 closed

[2015-06-16 11:15] johnbellone commented on #73
I am closing this out because of impeding #126 landing on master.

[2015-06-16 11:15] #73 closed

[2015-06-16 11:16] johnbellone commented on #106
I am closing this out because of impeding #126 landing on master. This can be added as a pull-request to the new branch. It should be a separate recipe which overrides the servers configuration attribute.

[2015-06-16 11:16] #106 closed

[2015-06-16 11:16] johnbellone commented on #149
I am closing this out because of impeding #126 landing on master.

[2015-06-16 11:16] #149 closed

[2015-06-16 11:17] #107 closed

[2015-06-16 11:18] johnbellone commented on #169
This is a duplicate of #165.

[2015-06-16 11:19] johnbellone commented on #165
#169

[2015-06-16 11:19] #165 closed

[2015-06-16 11:19] johnbellone commented on #170
#169

[2015-06-16 11:19] #170 closed

[2015-06-16 17:52] reset commented on #169
@johnbellone the ark cookbook is a mess in it's own way. The libarchive lwrp is _actually_ idempotent but seems to be having issues on some machines. We can triage those issues or come up with a pure ruby way to get the same behaviour that libarchive is giving us.

[2015-06-16 18:14] ewr commented on #169
It doesn't look like they've followed through on pushing it to Supermarket, but this Ooyala tarball cookbook is an attempt to handle unarchiving via just built-in Ruby bits:

https://github.com/ooyala/tarball-chef-cookbook
http://engineering.ooyala.com/blog/stop-bashing-tarballs-chef

[2015-06-16 18:21] reset commented on #169
@ewr they're on the right track with the pure Ruby approach but unfortunately it's only for tarballs :frowning:. Libarchive (the c library) identifies what compression mechanism was used and then rolls with it. That, portability, and idempotency are the keys that we need.

[2015-06-16 18:24] ewr commented on #169
I was going to say "yeah, but the Consul binaries are just tarballs", but they aren't: they're zip files.

So, carry on...

[2015-06-16 19:19] johnbellone commented on #169
@reset Yeah we spoke about ark cookbook last time. I am wondering if we can get by using [ffi-libarchive](https://bitbucket.org/lyro/ffi-libarchive) - does that still need development headers?

[2015-06-24 20:40] zarry commented on #173
@johnbellone Would you like some help implementing this on general road to 1.0.0 stuff?  I have a need for this feature and don't mind doing some of the lifting.  We have been getting a ton of mileage from all your leg work already and I don't mind helping out where I can.

Not sure what sort of timeline you are looking for but I can probably manage the time over the next couple weeks to knock it

[2015-06-24 21:30] johnbellone commented on #173
@zarry Yes that'd be great. Take a look at the [develop branch](https://github.com/johnbellone/consul-cookbook/tree/develop). I need to test the HWRP thoroughly and document them.

[2015-06-30 20:43] zarry commented on #173
@johnbellone Are you changing some of the terminology from the current version/state to what is in the develop branch?  Looks like consul_service is now used to actually define a consul instance and not represent a service in consul?  Would consul_definition be where we define services?  Looks not fully implemented(or just lacking documentation)?

What is the current state of the develop branch?

[2015-06-30 21:44] zarry commented on #173
Never mind, thats what I get for quickly skimming it.  I see what is going on.  I should have some time in the next day or two to start playing around with the development branch.  If you could make sure anything you have locally is pushed that would be great.

Thanks!

[2015-07-01 02:29] johnbellone commented on #173
Right now I need to thoroughly test that branch, but otherwise I am waiting to get some time this week or next to document the definition HWRP. It would be a huge help to do that!

There are no commits locally. Once the README is written I am going to cut a patch release with remaining changes for 0.10 and merge in 1.0.

[2015-07-01 02:39] johnbellone commented on #169
I have a test branch locally and I'll see if I can wire in ffi-libarchive. Any objects @reset?

[2015-07-01 18:08] reset commented on #169
@johnbellone not at all - just need to make sure it's actually idempotent. I do that in the libarchive cookbook by reading the contents of the archive and comparing to what is on disk before performing any extractions.

[2015-07-02 19:57] zarry commented on #173
Actually, as I dive in I still think consul_definition may have been missing some attributes. for_keeps is empty and we have no way of supplying a service or check definition json to the file system.

Regardless, I will get some documentation around it and make any changes I think should be there to make it work as I would expect.  We can hash out any of the details or your idea of how it should l

[2015-07-09 12:29] miketheman opened #191 "chown resource executes every run, even when not changing anything"
We commonly see an execute resource updated every chef run, despite nothing being changed:
Example from our env:
[code]

This was introduced in #141 - [current source](https://github.com/johnbellone/consul-cookbook/blob/65bc614698e8d18153dc843cfd352da23af0aba2/recipes/service.rb#L62).

A better approach is to guard the resource and execute only if necessary, something like:
[code]

This is unteste

[2015-07-10 12:05] #186 closed

[2015-07-10 12:06] johnbellone commented on #191
This seems reasonable to me. Feel free to drop a PR and I'll cut another release prior to merging #126.

[2015-07-10 12:16] johnbellone commented on #173
@zarry I'll tackle this during my train ride home tonight.

[2015-07-10 13:33] zarry commented on #173
@johnbellone Thanks, I spent a little time with it and I think I got a little lost with the HWRP.  I don't think I fully groked your vision and I wasn't able to pick it up and finish it from there.  If you can get a little more documentation I can do some testing for you.

[2015-07-10 16:41] johnbellone commented on #173
@zarry No worries. I really need to write up a lengthy blog post and more documentation here.

[2015-07-13 14:58] jstarcher opened #192 "AWS Autoscaling"
After reading the official documentation on Outage Recovery and seeing that when a server outage occurs the same IP address needs to be used else the raft/peers.json file needs updated it brought me to start looking at this cookbook to see how we can implement autoscaling support.

Is this something that has been considered in the past or perhaps already exists but isn't documented?

My thoughts a

[2015-07-13 15:17] #125 closed

[2015-07-14 16:11] devilldog opened #193 "consul only binds to localhost 127.0.0.1"
Hi, I have deployed consul using the cookbook but the "server" nodes are only binding to 127.0.0.1, i have tried option in the docs but it only works if I manually set client_addr in the config file, how can i set this using the cook book. ?
cheers
Rob

[2015-07-15 00:18] gdavison opened #194 "Kitchen tests failing on master (commit a8d3060)"
The existing tests on the master branch are not all passing for me.

None of the CentOS 7 tests pass, because the default interface is set to enp0s3 instead of eth0. Using a fresh copy of `opscode-centos-70`.

None of the runit tests pass. The error is `/etc/service/consul: unable to open supervise/ok: file does not exist`, though I can start the service manually using `sudo /usr/bin/sv restart /e

[2015-07-15 19:51] tomzo commented on #193
Hi,

I have the same problem. I think I localized the issue - [here](https://github.com/johnbellone/consul-cookbook/blob/master/recipes/service.rb#L111)

It is because adding `client_addr` in default.json is actually conditional only when your consul node is running UI.

IMO this is should not be like that. consul docs clearly say that `client_addr` is

I think the same problem was reported in #73

[2015-07-17 19:26] josephholsten opened #197 "Anything chef-brigade can do to help?"
Is there anything @chef-brigade can do to help out? We're probably going to start using this in our infra, so we want to keep it awesome.

If you need any administrative help, want a slack channel, website, testing infra &c, just let us know. It doesn't need to have the brigade name anywhere on it.

[2015-07-21 00:39] johnbellone commented on #197
@josephholsten Appreciate the request, but I think we're covered.

[2015-07-21 00:39] #197 closed

[2015-07-21 01:02] #191 closed

[2015-07-22 01:59] johnbellone commented on #169
I am closing this since @reset merged the above commit. This no longer requires build-essentials and merely requires libarchive.

[2015-07-22 01:59] #169 closed

[2015-07-22 02:10] johnbellone commented on #194
I am going to close this out. Proper testing and support will land for EL7 in #126.

[2015-07-22 02:10] #194 closed

[2015-07-22 02:11] johnbellone commented on #193
@tomzo Did that workaround solve the immediate issue?

My plan is to merge in #126 next week which drastically changes how this cookbook works. We will need to go through significant testing, and I would prefer spending time there to make sure this case is covered.

[2015-07-22 07:49] tomzo commented on #193
Yes. It did solve this.
I'd suggest that in #126 client_addr is treated like in official docs. Don't let it be an ui thing.

[2015-07-22 11:41] #193 closed

[2015-07-25 03:42] #173 closed

[2015-07-25 03:42] johnbellone opened #200 "Update README with new, detailed examples."

[2015-07-25 03:43] johnbellone opened #201 "Update README with what has changed"

[2015-07-25 04:19] johnbellone opened #202 "Write more comprehensive unit tests."

[2015-08-06 18:55] sge-babrams opened #206 "regression of allowing http checks"
I am getting this while trying to converge on 1.0.0:

[code]

The functionality was added here:  https://github.com/johnbellone/consul-cookbook/pull/143

[2015-08-06 19:06] sge-babrams commented on #206
Working as of 0.11.1

[2015-08-06 19:39] johnbellone commented on #206
The HWRP has changed.

[2015-08-06 23:44] #202 closed

[2015-08-06 23:44] #200 closed

[2015-08-06 23:45] johnbellone commented on #206
Please take a look at the README to understand what has changed.

[2015-08-06 23:45] #206 closed

[2015-08-12 09:53] csghuser commented on #201
Would it be possible to amend the readme with example configuration for setting up a consul server vs setting up a consul agent? I've just switched to version 1.0.0 and finding my old wrapper cookbook no longer works, but I'm not entirely sure how this is done with this latest version.

Documentation regarding multiple checks for a single service would also be very much appreciated

Thanks

[2015-08-12 12:08] johnbellone commented on #201
Take a look at the basic usage that i just updated. Let me know if there are any other questions!

[2015-08-12 19:07] gabrielcrowdtilt opened #207 "golang upgrade?"
I see metadata has depends 'golang', '~> 1.4'

But I have some other cookbook with 1.5, just wondering do you need to stay 1.4.

Thanks

[2015-08-13 07:17] csghuser commented on #201
Many thanks for that, that seems to be setting up the config fine now. Although, testing with a docker Centos 6.6 image, it seems to be having problems configuring the consul service. I get this error when trying to converge
[code]
It appears to attempt to setup an init script with the following line:

[code]
If I try to run this manually, I get:
[code]
It appears that consul is not in the current

[2015-08-13 10:39] johnbellone commented on #201
I'll give it a run.

[2015-08-13 13:22] csghuser commented on #201
Seems to work ok with just
[code]
(removing the env part)

[2015-08-13 13:54] csghuser commented on #201
Going back to the issue of having multiple checks for a service (using the example at the bottom of this page https://consul.io/docs/agent/checks.html), prior to version 1.0.0 I was able to use multiple checks in the following way:
[code]

If I use the same approach now, with the new syntax, it simply overwrites the Disk check and all I have remaining is the CPU check.

Based on the example above

[2015-08-13 19:35] johnbellone commented on #207
I don't have a problem with the upgrade. Do you want to send a PR?

[2015-08-24 03:48] #207 closed

[2015-08-24 21:32] scalp42 opened #209 "How to pass extra options since refactor?"
Hi @johnbellone

Any clues on how to pass extra options for the agent?

I'm looking at [retry_join](http://www.consul.io/docs/agent/options.html#retry_join) for example, but not sure how to pass it in a wrapper cookbook, as the resource does not have it (https://github.com/johnbellone/consul-cookbook/blob/master/libraries/consul_config.rb#L69).

Another example is the typo `recurser` in cookbook v

[2015-08-24 21:58] scalp42 commented on #209
I'm ending up with something like this:

[code]

[2015-08-24 22:22] johnbellone commented on #209
I have a quick solution to this in the short term, but we should fix the bugs in the configuration. If there are any additional options added we should check against those. I'll have a change up in a little bit.

[2015-08-24 22:24] scalp42 commented on #209
One of the other workaround is to also drop a JSON in `config-dir` as it'll be merged with the `config-file` passed:

[code]

The later `-config-dir=/etc/consul` will override the defaults from the resource.

[2015-08-24 22:47] #209 closed

[2015-08-27 19:34] scalp42 commented on #201
@csghuser I opened https://github.com/johnbellone/consul-cookbook/pull/212 if you can try

[2015-09-11 12:36] tomzo opened #215 "web UI install missing since 1.0"
I've been porting my wrapper cookbook to 1.0 of consul. I get an impression that installing UI package is now not supported.

@johnbellone please confirm if this is true. I could contribute it. How would you see it implemented? Do you think it should be another resource or rather an option in `consul_service`?

[2015-09-11 15:08] johnbellone commented on #215
@tomzo I think it should be a separate resource. A contribution would be greatly appreciated!

[2015-09-11 18:55] scalp42 commented on #215
@tomzo @johnbellone have a look at https://github.com/johnbellone/consul-cookbook/pull/216 might help

[2015-09-12 13:29] tomzo commented on #215
@scalp42 I see you added dependency on `ark`. I don't think it is consistent with how `consul_service` is installed.
I have something like in this in my wrapped cookbook:
[code]
I plan to move it into consul cookbook as new resource `consul_ui`. I'll submit a PR today or tomorrow.

[2015-09-12 15:28] johnbellone commented on #215
I hadn't thought of an attribute in the consul service resource. But I don't want to add a dependency on ark. I personally would probably create a consul ui service resource.

[2015-09-12 16:24] tomzo commented on #215
@johnbellone I have created a `consul_ui` resource very similar to your `consul_service`, using libartifact_file. I tested it in vagrant deployment, seems file.

However I tried writing a chefspec test in style that you have.
[code]
But keep getting this error:
[code]

Have you had a problem like this here?
I noticed you have no chefspec tests for `consul_service` was that the reason?

[2015-09-13 14:57] johnbellone commented on #215
Let me take a look real quick.

[2015-09-13 15:51] johnbellone commented on #215
I am going to loop in @coderanger on this one.

It looks like it may be possibly due to how the Poise Service library is working in the background. I was able to add a stub method on the `Chef::Provider` class and get past the error. But this obviously means some of the resource's methods and values would also need to be stubbed. Since I also own the [libartifact cookbook](https://github.com/johnb

[2015-09-14 00:17] coderanger commented on #215
In general you can't use stuff like ServiceMixin with the fused mode because you need to get the mixin included in the provider and fused mode doesn't expose that you.

[2015-09-14 01:01] johnbellone commented on #215
@coderanger this isn't the mixin using fused mode.

The library cookbook libartifact has a fused resource which isn't adding a matcher. When we call that resource in this cookbook service provider it fails only it RSpec with the above errors.

I tried ditching libartifact fused resource and no luck. It looks like the marchers aren't being added. They are added automatically after 2.2?

[2015-09-14 01:52] coderanger commented on #215
So the specific spec files aren't in git that I can see, but I think this is because you are using normal style cookbooks with the Halite spec helper. The Halite helper doesn't know to load dependent cookbooks because with full-bore Halite stuffs you are using normal `require`s for dependent stuff. If you set up ChefSpec's Berkshelf integration it should handle loading dependent cookbooks, or you

[2015-09-14 02:32] johnbellone commented on #215
I can push up the changes, but `require 'chefspec/berkshelf'` still results in a failure. Hm.

[2015-09-14 02:42] johnbellone commented on #215
Take a look at [spec_helper.rb](https://github.com/johnbellone/consul-cookbook/blob/master/test/spec/spec_helper.rb) - I assume that's what you meant @coderanger ?

[2015-09-14 02:47] coderanger commented on #215
So that will get the cookbooks loaded, the next problem is that you need to tell the fake Chef run to actually load that cookbook. If you use the `recipe 'name'` form instead of `recipe do .. end` that triggers the normal loading behavior. It's on my list to improve this, currently Halite-based cookbooks are super special cased (https://github.com/poise/halite/blob/master/lib/halite/spec_helper/ru

[2015-09-14 02:51] johnbellone commented on #215
That seemed to do it.

[2015-09-14 07:03] tomzo commented on #215
I could do this with `recipe` style but it means I need to add a test cookbook with recipe content?
@johnbellone I recall there were test cookbooks here. I guess you removed them in 1.0, would you be fine if I added a *consul_test* cookbook back?

[2015-09-14 13:04] johnbellone commented on #215
@tomzo Yup, feel free, you'll need to add it in a `group :test, :integration` block in the Berksfile, too.

[2015-09-14 19:47] devilldog opened #217 "client config not being created"
I have added the following to my recipe, I also have consul in the run list (?)
[code]

but the config that gets generated is
[code]

thanks !
Rob

[2015-09-15 07:39] tomzo commented on #215
John,
Thanks for help.
I created a PR #218

[2015-09-15 13:04] #215 closed

[2015-09-15 22:03] devilldog commented on #217
I will say the check definition gets created but the consul agent config is wrong and unable to reach the cluster

[2015-10-02 13:38] justintime opened #225 "Cut a new release?"
Could you cut a new release so that we can all point at the supermarket to get all the nice new features that have went into this project the last few months?

[2015-10-02 17:00] eknudtson opened #226 "Consul systemd unit should wait for network"
The systemd unit for consul should have `After=network.target` in its `[Unit]` section.

[2015-10-07 11:20] #225 closed

[2015-10-07 11:29] johnbellone commented on #226
This is a fair point, but I think its probably something we may want to push to the [Poise Service cookbook](https://github.com/poise/poise-service). I'll open a PR there.

[2015-10-07 11:39] johnbellone commented on #226
Nevermind, I see where I need to dig into this.

[2015-10-08 17:10] majormoses opened #229 "Question: Configuring Consul"
From my understanding (I could be very wrong) of having read this cookbooks recipes and resource providers it looks to me like any value that is namespaced under node['consul']['config'] (as long as the provider supports it) are passed to the consul_config and consul_service provider:

https://github.com/johnbellone/consul-cookbook/blob/master/recipes/default.rb#L38-L46

I have injected a bunch of

[2015-10-08 18:00] scalp42 commented on #229
@majormoses this is how I go about it:

[code]

Pretty much I generate the JSON myself and pass it to the `consul_service` resource.

Hopefully helps!

[2015-10-09 17:05] majormoses commented on #229
@scalp42 thanks let me take a crack at it.

[2015-10-09 23:06] majormoses commented on #229
@scalp42 thanks with a bit of modification that got me what I needed. Still having issues but I will try to see what is going on and open new issues accordingly.

[2015-10-09 23:06] #229 closed

[2015-10-22 03:12] vpack opened #230 "Configuring TLS for RPC"
Hello Team.

Thanks for your support maintaining this.

I am having difficulty with my wrapper cookbook when configuring TLS for RPC. I have defined :

37 node.default['consul']['config']['ca_file'] = '/etc/consul/ssl/ca.crt'
 38 node.default['consul']['config']['cert_file'] = '/etc/consul/ssl/consul.crt'
 39 node.default['consul']['config']['key_file'] = '/etc/consul/ssl/consul.key'
 40
 41 node.

[2015-11-10 14:03] ramonskie commented on #217
when i do the following in my wrapper cookbook

[code]
it sets consul in server mode for some strange reason

[2015-11-13 15:19] petere opened #235 "does not start at boot on CentOS 6"
On CentOS 6, this cookbook registers consul as an upstart job. The consul process is started when Chef runs. I can also manually start and stop consul using something like `sudo start consul`. But after rebooting, consul is not automatically started. I can start it manually again, and everything is fine, but that's probably not the idea.

The configuration in `/etc/init/consul.conf` seems to indic

[2015-11-13 16:01] johnbellone commented on #235
What's the minor version of CentOS 6 that you're using?

[2015-11-13 19:09] petere commented on #235
6.6, as in the Vagrantfile shown above.

[2015-11-17 09:45] cobusbernard opened #236 "Windows install on 64-bit fails"
When installing on Windows 64-bit, the install fails as there is no 64-bit version for Windows available.

[code]

[2015-11-17 14:05] johnbellone commented on #236
What is the behavior you would expect here?

[2015-11-18 07:42] cobusbernard commented on #236
The issue seems to be that there is no amd64 version of Consul, so have been working on a PR for this bug - fix doesn't seem to difficult. My current blocker is that I cannot run Test Kitchen - it doen't find the 'windows-2012r2' image, busy testing it with by specifying a different base image. That is also breaking as the poise_service part of the recipe tries to create a group and a user 'consul

[2015-11-19 08:40] cobusbernard commented on #236
I’ve picked up that it extracts the OS architecture via `node['kernel']['machine']` on https://github.com/johnbellone/consul-cookbook/blob/master/libraries/consul_service.rb#L81 and for my windows server, this is `amd64`. There is no 64bit build for Consul 0.5.2 though, so I’ve tried to change the code to:
[code]

[2015-11-19 17:32] wstaples opened #238 "Documentation for Data Bag Setup"
I'm looking for some documentation to setup the required databag. I'm starting this in test kitchen so I'm not sure if regular data bags will work. I looked at the chef-vault cookbook docs but did not see anything about test kitchen or chef solo. I'm assuming if this doesn't work with chef solo its not going to work with AWS Opsworks??

Also what about users who simply want to skip it?

[2015-11-19 21:30] vpack opened #239 "Unable to override databag attributes"
I tried to override the databag attributes (to use 'consul-server' databag) but it gives an error - unable to access 'consul' databag.

Here is my wrapper code:
[code]
It doesn't seem to use the config from file:/attributes/default.rb either.
[code]

[2015-11-20 20:15] johnbellone commented on #236
I don't think that the [poise-service library cookbook](https://github.com/poise/poise-service) has a Windows provider.

[2015-11-20 20:16] johnbellone commented on #239
What does the wrapper cookbook look like? This should absolutely work.

[2015-11-20 20:38] dsilverman-brightcove commented on #238
Please make the usage of Chef Vault optional.  There are many ways to pre-seed secrets, and Chef Vault is often not the right option.

[2015-11-20 20:45] scalp42 commented on #238
@dsilverman-brightcove :+1:

[2015-11-23 16:35] lmickh opened #240 "Consul ACL custom resource"
Not sure where an ACL custom resource is at this point.  Looks like there were some PRs to add ACL resources, but they were closed for various reasons.  Is there currently work in progress?

[2015-11-24 18:01] sarkis opened #241 "libarchive error when installing consul on Ubuntu 14.04"
Generated at 2015-11-24 17:59:51 +0000
Archive::Error: consul_service[consul] (consul::default line 38) had an error: Archive::Error: libartifact_file[consul-0.5.2] (/var/chef/cache/cookbooks/consul/libraries/consul_service.rb line 112) had an error: Archive::Error: libarchive_file[/var/chef/cache/consul-0.5.2.zip] (/var/chef/cache/cookbooks/libartifact/libraries/libartifact_file.rb line 63) had a

[2015-11-24 19:27] ronlipke opened #242 "Basis for selinux set to disabled"
What is the basis for setting selinux to disabled in this cookbook?  I see it changed from permissive sometime between version 1.2.0 and 1.3.0.
We have some compliance restrictions that require selinux and was surprised to see it outright disabled here.
Thanks!

[2015-11-26 13:46] cobusbernard commented on #236
So that would mean this cookbook can't be used for Windows?

[2015-11-27 05:20] mdavis7771 commented on #242
+1

[2015-11-30 15:35] johnbellone commented on #236
It looks like we need one to be written. It shouldn't be terribly hard since there is a [Windows cookbook](https://github.com/chef-cookbooks/windows) that the Chef folks maintain. I made a similar bridge using the [AIX cookbook](https://github.com/chef-cookbooks/aix) and [poise-service-aix](https://github.com/johnbellone/poise-service-aix).

[2015-11-30 18:54] vancluever commented on #240
+1, we might need this shortly, would love to know either way.

[2015-12-02 03:44] Chili-Man opened #244 "retry_interval should be a string"
The consul agent expects the `retry_interval` setting to be a string, but the `consul_config` lwrp wants it to be an integer: https://github.com/johnbellone/consul-cookbook/blob/master/libraries/consul_config.rb#L75

[code]

[2015-12-02 23:20] johnbellone commented on #244
Do you mind submitting a PR?

[2015-12-02 23:21] johnbellone commented on #240
I'm open to accepting custom resource for ACL.

[2015-12-02 23:22] johnbellone commented on #240
The previous attempt in #220 seems to have halted due to a gem?

[2015-12-03 20:47] scalp42 commented on #244
@Chili-Man @johnbellone https://github.com/johnbellone/consul-cookbook/pull/245

[2015-12-04 05:31] #230 closed

[2015-12-05 00:29] gdavison commented on #236
I can resurrect my Windows work from the 0.10 branch of this cookbook, if you'd like.

[2015-12-07 08:49] predominant commented on #241
I'm getting this too. :-1:

[2015-12-07 15:59] johnbellone commented on #236
@gdavison That may be helpful. I don't know how well it'll jive with the new format.

[2015-12-07 21:37] Fitzsimmons opened #247 "Refactor the population of TLS files to wrapper cookbooks?"
Hi,

I'm noticing that consul_config.rb is currently expecting the TLS files to be set in a chef-vault. I fully support the use of chef-vault, and in fact I'm already using it; however, I'm adding the files to the filesystem in my wrapper cookbook, and I'd like to simply tell consul-cookbook where to look for the files once they're already there.

I much prefer this technique because it allows a l

[2015-12-07 21:39] agperson commented on #242
But why is this cookbook managing SELinux at all?  I'm confused as to why it is in this purview at all.

[2015-12-08 02:10] gdavison commented on #236
It would probably make sense to fork it, at least to start. There's no Windows support in Poise, so there would be two completely separate code paths.

[2015-12-08 08:35] cobusbernard commented on #236
Sounds good, could we get a new branch on the upstream to fork?

On Tue, 8 Dec 2015 at 04:10 Graham Davison <notifications@github.com> wrote:

[2015-12-08 13:31] mdavis7771 commented on #242
I agree with @agperson. As a security professional, having no documentation of this change and adding it to the run list could dramatically impact my security. SELinux should be managed be a separate wrapper cookbook.

[2015-12-08 14:48] johnbellone commented on #242
@mdavis7771 It is a long story, but ultimately it is a relic from an incorrect generation of this cookbook about a year ago. I do not have a problem removing this cookbook touching SELinux at all.

[2015-12-08 14:49] johnbellone commented on #247
@Fitzsimmons I am willing to accept a PR here.

[2015-12-08 14:51] johnbellone commented on #236
@cobusbernard In poise or in this cookbook?

[2015-12-08 14:54] johnbellone commented on #242
I'll accept a PR here if either @mdavis7771 or @agperson is willing to do so. We'll need to increment the minor release.

[2015-12-08 14:54] johnbellone commented on #241
@predominant Would you be able to test this on the prior version of Consul?

[2015-12-08 14:54] #201 closed

[2015-12-08 14:55] johnbellone commented on #239
I see the issue here.

[2015-12-08 14:56] #244 closed

[2015-12-08 16:30] mdavis7771 commented on #242
@johnbellone, Understood, I'll do a PR later this week.

[2015-12-09 08:48] cobusbernard commented on #236
I think in this one - there are likely some other issues to take care of
w.r.t. Windows.

On Tue, 8 Dec 2015 at 16:51 John Bellone <notifications@github.com> wrote:

[2015-12-09 12:04] joerocklin commented on #247
I've implemented this over at https://github.com/joerocklin/consul-cookbook/tree/server_options - though I don't know that it's the most elegant of solutions. Basically I added another option called `manual_tls` (because I needed a quick fix for what I was working on). Would be happy to submit a PR if @johnbellone thinks that's a decent solution!

[2015-12-09 12:46] joerocklin opened #251 "Updating consul version does not restart consul"
Not sure if this is a bug for poise, libartifact, or the use of them both here. What I'm seeing is: when running the cookbooks and doing an upgrade from 0.5.2 -> 0.6.0 (binary install), the binary gets updated but the service isn't restarted. It looks like there's a subscription on config file changes, but there's no config file change in this process!

I looked to see if there was a convenient wa

[2015-12-10 17:43] Ginja commented on #251
I noticed this as well.

+1

[2015-12-11 15:57] nicxvan opened #255 "consul_ui resource does not work"
When attempting to converge my wrapper cookbook I get an error:
[code]

Here is my resource declaration:
[code]

Note that I overrode the binary url as well since the resource generates the wrong url, I did see a pull request to fix that though.

The key does exist in the attributes file under ['consul']['checksums']
and the attribute is called in the resource definition:
[code]

[2015-12-11 20:05] Ginja commented on #255
Had the same issue. This should be fixed with https://github.com/johnbellone/consul-cookbook/pull/252.

[2015-12-11 20:27] Ginja commented on #236
@cobusbernard how you were you able to get that far when attempting to install it on Windows? My tests are failing at below. This issue should be fixed however when the next version of Chef comes out:

https://github.com/chef/chef/pull/4046

[code]

[2015-12-11 21:12] Ginja commented on #236
Also, it looks like chocolatey is running a bit behind on their Consul version:

https://chocolatey.org/packages?q=consul

Perhaps we should be fetching the binary and installing it manually? It's just an `.exe` inside the ZIP file. We do need to work a task scheduler resource or Windows service to run it.

[2015-12-11 21:40] johnbellone commented on #236
I started a little bit at working on a [Poise Service Windows provider](https://github.com/johnbellone/poise-service-windows) but need a little help there. I realized I don't have a test-kitchen box for that work.

[2015-12-11 22:03] nicxvan commented on #255
@Ginja Not quite, the download piece will fix my needing to override the binary_url attribute, but it doesn't fix the primary issue with the consul_ui resource.

The resource is not finding the checksum so it's failing, if you see in the error it's saying the key doesn't exist even though the attribute does exist for 0.6.0_web_ui

[2015-12-11 22:15] scalp42 commented on #255
cc @johnbellone for visibility

[2015-12-11 22:16] scalp42 commented on #255
@nicxvan do you have a fix ? I'll try to get to it next week if not.

[2015-12-11 22:23] Ginja commented on #255
@nicxvan I still believe #252 does fix your issue. The reason it couldn't find the checksum was because they started prefixing their download URLs with `consul`. I changed all the keys for the checksum attributes to have `consul` before their version. I also changed the binary_filename method to add `consul` before the version and text `web_ui`. This should properly fetch the `'consul_0.6.0_web_ui

[2015-12-11 22:40] nicxvan commented on #255
@scalp42 I do not have a fix.

@Ginja You may be right, I was looking at master not the right tag, using version 0.5.2 it converges, but I just get another copy of the binary in the directory, not the web ui that I got when manually downloading

[2015-12-11 22:50] nicxvan commented on #255
@Ginja What you said is partially right, if I download the web_ui manually I get an archive with the dist folder and the ui works, if I use the resource I end up with another binary in the location I specify in the directory attribute.

[2015-12-11 22:59] Ginja commented on #255
@nicxvan Could you elaborate (e.g. show your resources & properties/attributes set in both examples)?

[2015-12-11 23:15] nicxvan commented on #255
Attributes:
default['cookbook_consul']['ui_path'] = '/srv/consul/ui'

Recipe / resource:
node.default['consul']['config']['path'] = '/etc/consul/default.json'

include_recipe 'consul::default'
consul_config 'consul' do
  server true
  path node['consul']['config']['path']
  bootstrap_expect 1
  ui_dir node['cookbook_consul']['ui_path']
end
directory '/srv/consul' do
  owner 'consul'
  group 'consu

[2015-12-12 00:39] scalp42 commented on #255
@nicxvan any chance you can use markdown ?

just add   ```ruby at top and 3 backticks at bottom.

Thanks!

[2015-12-12 02:44] Ginja commented on #236
@johnbellone playing devil's advocate; I wonder if we should be leveraging Chef's native Windows service (https://docs.chef.io/resource_windows_service.html), or the windows' cookbook `windows_task` resource (https://github.com/chef-cookbooks/windows/blob/d78c82e3a9d350d11b949f13528fdf820b9a62d7/providers/task.rb) instead of writing a poise-service bridge. Chocolatey does use NSSM (https://nssm.cc

[2015-12-12 06:49] cobusbernard commented on #236
@Ginja I had made some changes to the cookbook after forking it, mainly forcing the Windows architecture to '386' and adding a password to the user portion in my wrapper cookbook.

I ended up installing it by hand on the 1 Windows node that needed Consul by using https://github.com/kohsuke/winsw. Fairly straightforward, but I like @Ginja's idea to leverage existing tools `windows_task` or NSSM.

[2015-12-12 16:47] nicxvan commented on #255
Sorry @scalp42 It's now formatted.

[2015-12-12 19:31] Ginja commented on #255
I think you need to change your `install_path` property to the containing folder. For example, this is how I declared the `consul_ui` resource:

[code]

After Chef runs, the directory layout on my filesystem looks like:

[code]

[2015-12-12 19:42] Ginja commented on #236
Thanks for the info, @cobusbernard.

There is an existing NSSM cookbook (https://github.com/dhoer/chef-nssm) we could leverage if we went down that route. If anyone has had any experience with NSSM let me know. I think I'm inclined to drop chocolatey, and un-zip the agent/ui ourselves, and use an NSSM resource to run the former.

[2015-12-13 07:00] Ginja commented on #242
#256 should fulfill this.

[2015-12-14 15:54] nicxvan commented on #255
Thanks @Ginja I tried that but it didn't work. I ended up trying this:

[code]

And get this structure with no response on 8500 after converging:

[code]

[2015-12-14 17:20] Ginja commented on #255
A couple of things to check:

* Is your Consul agent running? `ps aux | grep consul`
* Is your Firewall on & does it have a rule for port 8500? `systemctl disable firewalld`

[2015-12-14 17:23] nicxvan commented on #255
Hmm sometimes is the most obvious things, consul is not running, how do you kick off the start with chef? I thought the config_resource took care of that.

[2015-12-14 18:54] gdavison commented on #236
Chocolatey has version 0.5.2 "in review", where it's been for months, and I have no idea where they're at with 0.6. The current cookbook has `binary`, `package`, and `source` install methods, so we could have `binary` and `package` for Windows as well, with `package` lagging. Not sure if there would be any benefit to that, though.

I've set up a service on Windows using NSSM using Chef. It works p

[2015-12-14 20:04] Ginja commented on #236
My intention is just to run the agent on Windows. I believe that's what most people will want as well. So I say we accomplish that first, and then add the rest later or as people need/request them. I'm working on a windows-support branch now, but if someone already has one feel free to submit it.

[2015-12-15 17:51] #242 closed

[2015-12-15 18:05] gdavison commented on #236
https://github.com/paybyphone/consul-cookbook/tree/new_windows_support. It's based off the v0.11.1 branch, so the parameters will likely be different from the linux version. It installs the agent using Chocolatey, so it's only Consul 0.5.
Next steps for me are to install 0.6 from the HashiCorp binary. Then, if it's worthwhile, I'll integrate it with the current version of the cookbook, but it will

[2015-12-17 00:44] Ginja commented on #236
I've just pushed up a branch to my fork that adds Windows support. However, it is a major re-factor as I've used the provider syntax for Chef 12.5, and I'm using the [compat_resource](https://github.com/chef-cookbooks/compat_resource) cookbook to back-port support for 12.0-12.4 clients (i.e. this cookbook will not support Chef 11 clients).

@cobusbernard, @johnbellone, @gdavison please take a look

[2015-12-17 19:00] gdavison commented on #236
@Ginja I've been doing some work on the integration tests. I missed where you said the tests weren't updated.

It looks good, though it wipes out my day of coding yesterday :)

[2015-12-17 19:12] Ginja commented on #236
@gdavison I've opted to not configure a user or group on Windows machines. There's not a lot of benefit, and just adds more complexity.

I'm actually working on another branch which doesn't update the Provider syntax, and I think I'm going to recommend that we use it instead. Unless @johnbellone says otherwise.

[2015-12-22 18:41] ls12styler opened #258 "New version?"
Hi,

Just wondering what the sort of roadmap is for the next version?
(I'm wanting consul 0.6 ideally via a release version)

Thanks

[2015-12-23 11:14] kamaradclimber commented on #236
@Ginja your provider-refactor branch looks good.

[2015-12-29 15:02] turkenh commented on #258
+1 on this.

[2015-12-30 02:24] Ginja commented on #236
Thanks, @kamaradclimber. I'm unhappy with it however because it attempts to use the [compat_resource](https://github.com/chef-cookbooks/compat_resource) cookbook with Poise, and they shouldn't be mixed. #259 adds Windows support and does so using just Poise, which is more in-keeping with how this cookbook is written.

[2015-12-30 16:43] johnbellone commented on #258
I am trying to tackle [these issues](https://github.com/johnbellone/consul-cookbook/milestones/1.4) for the 1.4 release. I don't think its too much work, but definitely looking for some help cleaning up the queue!

[2016-01-03 18:59] #239 closed

[2016-01-03 19:37] #240 closed

[2016-01-03 19:42] johnbellone commented on #241
This is working in the test-kitchen tests for 0.6. Did you have this only as a problem with 0.5.2?

[2016-01-03 20:05] johnbellone commented on #235
I was able to confirm that Consul isn't starting on reboot.

[2016-01-08 20:32] phs commented on #258
I don't suppose you'd cut a `1.3.2` in the mean time so we can get #234?

[2016-01-18 08:37] legal90 commented on #235
@petere FYI: it could be worked around by switching service provider to `sysvinit` (instead of `upstart`):
[code]
Or the same with `poise_service_options` resource:
[code]

[2016-01-19 16:54] johnbellone commented on #235
That was what I was going to suggest as well. I'm not comfortable using the version of upstart on CentOS 6 because it is ancient. I'll try and take some time to mess around with this, but this is probably the best route.

[2016-01-19 16:55] johnbellone commented on #251
I have tracked this down with some of our other cookbooks. I'm going to test a fix.

[2016-01-19 20:27] petere commented on #235
I had tried that as well, but it doesn't work. The first problem is that the generated init script does not pass the path (`/usr/local/bin`) for consul, so it doesn't start. And if you fix that (manually), consul starts, but the init script fails because it checks for the PID of `/usr/bin/env`. And you don't get any error messages about either of these. It become clear very quickly that that scena

[2016-01-20 13:00] #236 closed

[2016-01-20 13:28] johnbellone commented on #235
Alright, we can fix this by putting a custom sysvinit template into the project.

[2016-01-20 13:31] #226 closed

[2016-01-20 13:31] johnbellone commented on #258
Let's see if we can knock out #217 and #235 first... any takers?

[2016-01-20 22:03] #241 closed

[2016-01-20 22:54] gdavison commented on #217
This cookbook defaults to installing a server.

See line 80 in https://github.com/johnbellone/consul-cookbook/blob/master/libraries/consul_config.rb#L80

[2016-01-21 00:08] Ginja opened #262 "Idempotency"
I'm not sure if anyone else is noticing this, but I'm seeing this cookbook consistently apply at least 3 resources (on both Windows & Linux hosts):

![image](https://cloud.githubusercontent.com/assets/1631363/12467292/217f08f8-bf8f-11e5-837c-cfde35e206e1.png)

When I view what resources were changed in our monitoring tool, it looks like this:

![image](https://cloud.githubusercontent.com/assets/16

[2016-01-21 00:45] scalp42 commented on #262
@Ginja unrelated but where is this UI from ?

[2016-01-21 21:35] gdavison commented on #217
@devilldog are you still experiencing this? I can't reproduce it with v1.3.1.

You mention that you also have consul in the run-list. Is there maybe an ordering issue? Can you post your run-list?

[2016-01-22 12:42] johnbellone commented on #262
We have noticed this recently while trying to fix some restart issues in other cookbooks. I think our initial thoughts led us to the [libartifact cookbook](https://github.com/johnbellone/libartifact-cookbook) or the [libarchive cookbook](https://github.com/reset/libarchive-cookbook).

[2016-01-22 22:20] phs commented on #241
We are reproducing this in vagrant (not test kitchen) using Ubuntu 12.04.1 on 40b7091

[2016-01-22 22:25] phs commented on #241
Perhaps it has something to do with libz version? From a test in [libarchive](https://github.com/libarchive/libarchive/blob/b9d0b46eb05b0f1e6c832512c2c6b5d782db58d1/libarchive/test/test_read_format_zip.c#L70-L78):

[code]

[2016-01-22 22:27] phs commented on #241
From a vagrant image that works:
[code]

and from one that does not:

[code]

[2016-01-23 06:46] Ginja commented on #262
@johnbellone: I was thinking that too, but I'm seeing this even in the Windows provider (the pictures above are actually using it), which doesn't use libartifact or libarchive resources.

@scalp42 It's [the Foreman](https://github.com/theforeman/foreman). I have a cookbook to configure one into a reporting server for Chef that I'll release when it's ready for the public eye ;)

[2016-01-23 21:26] johnbellone commented on #262
I was tinkering with the libarchive cookbook last night and narrowed it down there. Not sure about Windows. It looks like we have a few places this needs to be fixed.

[2016-01-25 16:38] griffint61 commented on #235
I saw this too, and managed to figure out what's going on. It's failing because with the upstart config on EL6, Consul is being started before the network is up, and then Consul itself bails out because, again, the network is not up. I would be nice if Consul was a little more patient in this scenario, but there's probably a way to build some patience in to the upstart config, or give it an explic

[2016-01-27 21:11] johnbellone commented on #235
@griffint61 That's interesting. I have a new sysvinit template that I wrote for the project, but if I configure the service to start on run levels 3 and 5 it should be fine?

[2016-01-28 04:02] Ginja commented on #262
You're right, the inherent problem is in the libarchive cookbook, as it does no check on whether or not it should run. It looks like it's leaving that up to the cookbooks that use it. So I have a fix for libartifiact:

[code]

If that looks alright to you, @johnbellone, I'll submit a PR to your [libartifiact-cookbook](https://github.com/johnbellone/libartifact-cookbook). This unfortunately doesn't

[2016-01-28 11:45] johnbellone commented on #262
Great work! Yes, please submit the PR :).

Sent from my iPhone
JB

[2016-01-28 13:14] #235 closed

[2016-01-28 13:21] johnbellone commented on #258
Just a quick recap - I'm waiting on #265 and #262 (to pin version) - then we're good to release. Thanks for the awesome work @legal90 and @Ginja!

[2016-02-02 16:07] epcim opened #271 "consul service user /bin/false shell ?"
I have testes 1.4 version from master and found the service_user created "consul" is being OOTB created with /bin/false default shell. Which causes all scripted checks effectively silent.

`poise_service_user` doesn't have the "shell" attribute. So the only way to make the user with effective shell is to create him first. https://github.com/poise/poise-service#poise_service_user

As I am quite new

[2016-02-03 03:40] johnbellone commented on #271
Which checks are failing?

[2016-02-03 03:40] #262 closed

[2016-02-03 16:28] epcim commented on #271
I mean consul_definition, type=check. In other words any script execution: parameters(script:'xyz.sh'). As the "service consul user" don't have a proper shell configured.

I workaround it by:
{{{
# change the user shell "so it may run scripts for checks"
user node['consul']['service_user'] do
  shell '/bin/bash'
  action :modify
end
}}}

[2016-02-04 23:04] bigbam505 commented on #258
Hey just wanted to check in on the status of the 1.4 Version release.  Trying to get our hands on that sweet sweet windows support :).  Awesome work thus far!

[2016-02-05 01:20] johnbellone commented on #258
Released!

[2016-02-05 01:20] #258 closed

[2016-02-05 01:21] #255 closed

[2016-02-05 01:22] johnbellone commented on #271
Ah, interesting. It makes sense that this doesn't work just wonder why we never caught it before.

[2016-02-05 01:30] johnbellone commented on #271
This was fixed in recent patch.

[2016-02-05 01:30] #271 closed

[2016-02-05 20:48] gdavison opened #273 "Windows Consul service does not start up"
The consul service expects its data directory to exist. This was recently removed, in commit aac210a, causing consul to fail on startup

[2016-02-05 22:44] Ginja commented on #273
This was removed in response to this:

https://github.com/johnbellone/consul-cookbook/pull/259#issuecomment-176679581

I haven't seen the behaviour you've described, but I'm testing it now with Test Kitchen.

[2016-02-05 23:10] Ginja commented on #273
Just verified that the data directory is being created. What does your run list look like? Could you send me the output of your failed run?

[2016-02-05 23:28] Ginja commented on #273
Ah, I see why it worked for me now. In our wrapper cookbook I'm setting:

`node.default['consul']['config']['data_dir'] = join_path data_prefix, 'data'`

I think we should revert one of my changes in #259. I'm submitting another PR shortly. I'll add that in there.

[2016-02-06 02:09] gdavison commented on #273
I've got at PR almost ready, with tests.

[2016-02-06 05:49] Ginja commented on #273
@gdavison I have it included in #274. Please let me know if that works for you.

[2016-02-06 19:13] gdavison commented on #273
Ah, didn't see that you have a PR, too.

[2016-02-07 16:20] #273 closed

[2016-02-11 11:58] epcim opened #276 "default['consul']['config']['bag_name'] broke consul_config"
Well I am not sure whether I got the full understanding of the resources in this cookbook. Well my issue is actually that 2nd run of converge do not re-write consul.json config with (start_join) option populated by chef search.

To fix that, I decide to use consul_config resource and place consul.config attributes to an "option" option. However it fails. See:
[code]

as in default attributes, then

[2016-02-11 13:06] epcim commented on #276
I am sorry. I am taking it back. I found an bug in my recipes that was reseting start_join to [] which caused all the troubles.

Then I fully got the point, we filter the node.consul.config in the cosul_config resource on `to_json` method. So the proper way to populate it is over procedure used in default recipe:

[code]

[2016-02-11 13:06] #276 closed

[2016-02-12 21:40] jeremysmitherman opened #277 "Atlas Integration go away with v1?"
I'm looking through the history and it appears at one point in time, there was Atlas integration.  Has this gone away?  I can't find any modern documentation for the feature.

[2016-02-12 22:27] johnbellone commented on #277
It has... but willing to a accept PR!

[2016-02-19 07:58] kamaradclimber commented on #251
hello @johnbellone,

do you need help for a fix on this issue?

[2016-02-19 14:07] johnbellone commented on #251
Some help would definitely be appreciated!

[2016-02-19 14:31] gdavison commented on #251
I've noticed recently that, at least on Windows, it's not restarting on config file changes, either. Not sure if this is related.

Steps:
1. Install
2. Consul starts
2. Tweak config attributes
3. Re-run chef
4. Doesn't restart

[2016-02-19 20:16] scalp42 commented on #251
Any chance to make the restart optional please?

[2016-02-22 11:35] fstradiotti opened #280 "Service definition with an integrated check"
Hello,
I've updated my wrapper cookbook to use the latest version of this consul-cookbook and noticed that the service/check definition has changed a lot. I am trying to create a service definition with an integrated health check but after reading through the documentation and doing trials and errors I can't seem to figure out how it's done.

Previously I would have written something like this:
[c

[2016-02-22 12:01] johnbellone commented on #280
I think the only way to do this would be to update the `consul_definition` resource to have a parameter which accepts the parameters for the second resource.

[2016-02-22 14:36] fstradiotti commented on #280
So that does this mean that there is no way to implement a previously available feature?
Why did this useful feature get removed?

[2016-02-22 18:56] gdavison commented on #280
This works for me:
[code]

[2016-02-23 17:04] fstradiotti commented on #280
Thank you for the tip @gdavison, that was exactly what I was searching for.

I have created a PR to update the readme with an example code snippet as I think this is useful information that should be added: https://github.com/johnbellone/consul-cookbook/pull/281

[2016-02-23 20:36] #280 closed

[2016-02-23 20:36] johnbellone commented on #280
Thanks @fstradiotti and @gdavison !

[2016-02-25 21:51] st33v opened #283 "consul_acl (or Diplomat gem) misbehaving"
based on the examples in the cookbook, I'm trying to create a simple ACL like this:
[code]
which results in a resource like this:
[code]
and an error:
[code]
so, Diplomat is seeing a redirect, which is odd. It's especially strange because I ran tcpdump like this:
[code]
and while I can use curl to get stuff from consul and I see the traffic in tcpdump, I see NOTHING on ANY interface on port 8500 w

[2016-02-26 16:02] wfindley opened #284 "sysvinit.service.erb has the consul service log to /dev/null"
I would like the consul service to log someplace useful.  How do I do tell the `consul_service` resource to use my template instead?  Let's say my wrapper cookbook is named `mywrapper`.

[2016-02-27 15:58] st33v commented on #283
ah... it's a still unresolved bug in faraday... Looks like you actually have resolved it @johnbellone and it's just sitting there in limbo.

[2016-02-27 15:58] #283 closed

[2016-03-01 17:42] fstradiotti commented on #277
+1 on this. Atlas integration variables used to be there and worked great...not sure why they have been removed. This cookbook is now broken in this state if you use consul together with atlas.

[2016-03-05 16:22] leshik opened #287 "Use 'system' attribute when adding consul user & group"
Since consul is a system service, it's probably better to specify 'system' attribute to group and user resources: https://github.com/johnbellone/consul-cookbook/blob/master/recipes/default.rb#L35-L36
This can help distinguish them from those able to login. Also, since we have login shell provided, would be nice to specify existing $HOME location, e.g. /var/lib/consul.

[2016-03-07 03:52] #277 closed

[2016-03-07 21:36] jdoss commented on #277
Any chance on getting a minor point release with this addition?

[2016-03-07 21:46] johnbellone commented on #277
@jdoss Yep, give me a few minutes.

[2016-03-07 22:01] jdoss commented on #277
@johnbellone Thank you! http://i.imgur.com/WDRvQtW.gif

[2016-03-08 00:43] johnbellone commented on #247
I am removing the management of TLS certificates with version 2.0. It has already landed in the [install-resource branch](https://github.com/johnbellone/consul-cookbook/tree/install-resource) and will be released in the next few days. I am just going through some integration tests. The plan is to have a separate example wrapper cookbook to draw from.

[2016-03-08 00:43] johnbellone commented on #238
I am removing the management of TLS certificates with version 2.0. It has already landed in the [install-resource branch](https://github.com/johnbellone/consul-cookbook/tree/install-resource) and will be released in the next few days. I am just going through some integration tests. The plan is to have a separate example wrapper cookbook to draw from.

[2016-03-10 18:57] nicwaller opened #288 "restart_on_update considered harmful"
This cookbook [restarts Consul](https://github.com/johnbellone/consul-cookbook/blob/f55f08bd3610d3b78e53ac96a3064adfe4192ca9/libraries/consul_service.rb#L160) if the configuration changes. That seems reasonable at first.

But Consul relies heavily on maintaining quorum; if quorum is not maintained, the Consul cluster goes into an outage. All that's needed is for `ceil(N/2)` servers to restart at t

[2016-03-12 00:26] shortdudey123 commented on #288
I have not used it before, but this is one thought ~ https://github.com/websterclay/chef-dominodes
`A Chef resource for mutual exclusion of blocks of recipe code. Useful for cross-cluster rolling restarts.`

[2016-03-15 20:52] spheromak commented on #247
:+1:  for those of us that manage certs outside of chef.

[2016-03-16 09:53] MichaelKueller opened #290 "where does consul installed through this cookbook write its logs"
I'm running debian and I cannot find the log files created by consul.
Also can the location be configured, as I would like to have the log in /var/log/consul.log?

[2016-03-16 12:00] joerocklin commented on #247
@johnbellone I was trying to test my wrapper cookbook with the install-resource branch to get ready for the upcoming change, and it looks like it's still trying to manage keys & certs from chef-vault: https://github.com/johnbellone/consul-cookbook/blob/5e5dc78/libraries/consul_config.rb#L125

Is this still the plan for 2.0, or are there more changes in store?

[2016-03-16 12:20] johnbellone commented on #290
What platform/version are you running?

[2016-03-16 12:28] johnbellone commented on #247
@joerocklin A local commit that didn't get pushed up :).

[2016-03-16 14:00] MichaelKueller commented on #290
I'm running debian 7.9

[2016-03-16 21:32] johnbellone commented on #290
You can check /var/log/upstart/consul.log.

[2016-03-17 04:14] #247 closed

[2016-03-17 04:14] #251 closed

[2016-03-17 07:50] MichaelKueller commented on #290
No, unfortunately not. The upstart directory does not exist under plain debian. As far as I know only older Ubuntu versions use upstart.

[2016-03-17 11:33] johnbellone commented on #290
Is that version of Debian SysV?

[2016-03-17 12:26] johnbellone commented on #288
I am comfortable with making the change to using SIGHUP.

[2016-03-17 12:28] #217 closed

[2016-03-17 12:28] #192 closed

[2016-03-17 12:31] #284 closed

[2016-03-17 12:31] #290 closed

[2016-03-17 13:09] johnbellone commented on #290
This should be fixed in master. As long as there are no major problems I'll release as 2.0 by tomorrow afternoon.

[2016-03-17 13:49] MichaelKueller commented on #290
That sounds great! thanks for the immediate response and help.

[2016-03-17 14:32] johnbellone commented on #287
The system attribute has been added to master and will be released as 2.0.

[2016-03-17 14:32] #287 closed

[2016-03-17 14:54] MichaelKueller opened #294 "Key not found: "consul_0.6.3_linux_amd64""
When I try to run the latest master of this cookbook I get this error. It seems that this key is not provided in consul_installation_binary.rb. Only linux-x86_64 is listed there. It still worked in version 1.4.3, when these keys were part of the attributes file

[2016-03-17 14:59] johnbellone commented on #294
What are you trying to do?

[2016-03-17 15:03] johnbellone commented on #288
I think that having any kind of cluster mutex is a code smell. I would much rather leave it to the system administrators to upgrade the client. What I'll probably end up doing is making sure that the configuration resource sends a reload (SIGHUP) and that updates to the installation don't actually change the running service.

[2016-03-17 15:09] #288 closed

[2016-03-17 15:33] MichaelKueller commented on #294
I'm trying to install consul though this cookbook on debian 7.

[2016-03-17 15:38] johnbellone commented on #294
Yes, I guess I am confused with your error message. Would you be able to put the log in Gist? You should be able to run `kitchen converge default-debian-79` to get an instance with Consul installing and running.

[2016-03-17 15:45] MichaelKueller commented on #294
I assume the problem is that this node attribute "node['kernel']['machine']" contains: amd64. But this is not  listed anymore. It basically is the same as x86_64.

The error is:
  ================================================================================
           Error executing action `enable` on resource 'consul_service[consul]'
           ================================================

[2016-03-17 15:58] #294 closed

[2016-03-17 15:58] johnbellone commented on #294
Please try again!

[2016-03-17 16:09] MichaelKueller commented on #294
unfortunately the error still comes up.

This is what I use in my kitchen file:

---
driver:
  name: vagrant

provisioner:
  name: chef_zero

platforms:
  - name: debian-7.9
    driver:
      box_check_update: true
      platform: debian
      provision_command:
        - apt-get update

[2016-03-17 16:13] johnbellone commented on #294
Okay!

I'll give that a try this afternoon.

Sent from my iPhone
JB

[2016-03-17 19:14] rossedman opened #295 "Windows 2012 R2 Issue"
Hey everyone,

I am getting an `action_reload` error. I see that there is a method in `ConsulServiceWindows` called `action_restart`. I am not sure if this is where the disconnect is. Has anyone else experienced this?

[code]

This also has a reference in the error log to line 50 in the `consul::default` recipe:

[code]

Any help would be greatly appreciated. Thanks so much. This cookbook has been

[2016-03-17 20:07] MichaelKueller commented on #294
Oh, sorry for bothering you! I just noticed my tests were referencing an older commit of you github repository, which is why the errormessage did not make sense with your current code.

[2016-03-17 20:27] johnbellone commented on #295
Please give it a test with the latest version. I added a no-op action for reload on Windows.

[2016-03-18 00:41] #295 closed

[2016-03-18 14:49] rossedman commented on #295
@johnbellone thank you very much. Also wanted to say how nice this cookbook is. Really like the libraries and how they are built. Much appreciated. Will report back on this.

[2016-03-18 17:32] wstaples commented on #295
What about shelling out to consul directly?
the command `consul reload` would accomplish most of what is needed.

I would be nice if I could still use the `notifies :reload` that way it will reload the service on OS's that support it.

Here are some issues that would need to be addressed.
1. we need to see if the consul service is running. If not we don't need to do anything changes will be picked

[2016-03-18 18:30] wstaples opened #297 "no more web ui?"
I have just upgraded to 2.0 and see that
[code]

is no longer valid. I see a [commit](https://github.com/johnbellone/consul-cookbook/commit/b25b15efe763e7f475abd390062b17e1f4d08765) that states the webui resource was dropped in favor of config. I have tried setting the node['consul']['config']['ui'] attribute to true and even setting the ui_dir attribute. They both wind up in the consul config fil

[2016-03-18 19:08] johnbellone commented on #297
I'll fix this in a little while. I have a change locally just testing.

[2016-03-18 22:17] #297 closed

[2016-03-18 22:20] #238 closed

[2016-03-19 17:58] rossedman commented on #295
@wstaples To my understanding the reload wasn't removed. There was a missing method for the Windows reload call that was filled in just with a dummy method. This wouldn't effect any Linux distros or how the reload works.

[2016-03-19 21:18] nicwaller opened #301 "Changelog for 2.0.0 should mention breaking changes"
Please mention the removal of `consul_ui` in the Changelog for the 2.0.0 release.

I had to comb through commits and issues to figure out what motivated the major version bump. Eventually I found it was the removal of `consul_ui` in 8a2144f, and upgrading is very easy:
- Upgrade to 2.1 (for #297) to restore functionality for installing web UI
- Remove mentions of the `consul_ui` resource from my o

[2016-03-20 04:18] jstarcher commented on #192
Why is this being closed, was it fixed?

[2016-03-20 05:02] nicwaller commented on #192
@jstarcher I'm not the maintainer, but maybe I can help.

I think this issue was closed because the question is not within scope for this project. As a Chef cookbook, the focus is on configuration of an individual node (server). A Chef cookbook is not really the right place to be solving problems with clustering.

To address your original question, I'm not sure why you want to use Auto Scaling Gro

[2016-03-21 18:44] wstaples commented on #295
@rossedman I know that it wont effect any linux distros. The issue is It will not actually do anything on windows to make a new config change work. Consider the following scenario:

1. setup a check, service, or some piece of config
2. Use test kitchen to converge a windows box.
3. test your setup and it works
4. change a check or service def in the cookbook
5. converge again
6. whatever change yo

[2016-03-22 08:29] johnbellone commented on #301
I'll mention those changes, but this is an implicit assumption of a major version change.

[2016-03-22 13:26] johnbellone opened #303 "Convert integration tests to use InSpec"

[2016-03-22 14:57] legal90 commented on #301
@johnbellone Thanks. Documentation for `consul_installation` resource would be very helpful too. :+1:

[2016-03-26 18:42] phs commented on #301
The removal of `consul` from `/usr/local/bin` (and so presence on typical `PATH`) tripped me up as well.

[2016-04-06 23:13] miroswan opened #307 "Consul service should restart instead of reload"
If I make a change to a config, it doesn't show in the API or UI until I actually restart the service. Reload doesn't seem to suffice.

[2016-04-07 13:12] wstaples commented on #307
Hi @miroswan,

Can you tell us what configuration change you are making that doesn't seem to reload?
I assume you are reloading the service and not using the CLI `consul reload`
According to the [docs](https://www.consul.io/docs/agent/options.html#reloadable-configuration) These are the only re-loadable items

### Reloadable Configuration

Reloading configuration does not reload all configuration

[2016-04-14 12:27] legal90 commented on #307
@miroswan Automatic consul daemon restart could be really harmful. Please refer to the discussion https://github.com/johnbellone/consul-cookbook/issues/288

[2016-04-21 12:56] #307 closed

[2016-04-21 12:57] #303 closed

[2016-05-02 23:37] gdavison opened #311 "Finding the Consul executable"
With the changes in version 2, the Consul executable will be at `/opt/consul/<version>/consul` if installed using `binary, `/usr/local/src/consul/bin/consul` if installed via git, or `/usr/local/bin/consul` in installed using a package manager . `/opt` is not typically in the `PATH`.

I have a downstream cookbook that needs to reference the Consul executable. I used to be able to reference it usin

[2016-05-03 12:17] johnbellone commented on #311
What does your wrapper cookbook look like? There are a few ways we could go about this. Adding in an optional symlink is okay, but not always preferable if there needs to be multiple versions.

[2016-05-03 14:37] Ginja commented on #311
I always found managing symlinks for this type of stuff to be a pain in the providers. Since we're auto-generating the scripts that run these services (consul, vault, consul  template), we can just reference the direct path.

[2016-05-03 14:45] johnbellone commented on #311
It is also worth nothing that you can grab the resource object and get the [path to the executable](https://github.com/johnbellone/consul-cookbook/blob/master/libraries/consul_installation.rb#L26-L28). I *think* that this syntax is correct.
[code]

[2016-05-03 19:47] gdavison commented on #311
Thanks, that does the trick! I didn't know you could do that. It doesn't appear to need to be in a ruby block, but I'll do some more testing.

It's actually an application cookbook for `consul-replicate`.

[2016-05-03 19:47] #311 closed

[2016-05-12 13:01] kamaradclimber opened #314 "Question: How can a wrapper cookbook specify additional systemd options"
On some setups, the LimitNOFILE option is required in the consul service definition.

Is it possible to add this option using the wrapper cookbook pattern?

So far, I've tried to specify attributes such as
`default['consul']['service']['options']['template'] = 'consul-wrapper:mytemplate.erb'`
(and similar variation) without any luck.

[2016-05-16 22:46] johnbellone commented on #314
Unfortunately I am not sure this is something that can currently be set right now using a node attribute. I'm going to have to think a little more about it, but you should be able to use the [poise_service_options](https://github.com/poise/poise-service#poise_service_options) resource in a wrapper cookbook. The block below should do what you're looking for:
[code]

[2016-05-17 07:12] kamaradclimber commented on #314
thanks I'll try that

[2016-05-18 02:20] johnbellone commented on #314
This is probably something that we could expose using inversion options (similar to what we do with the download URL). This allows us to override in a policy or wrapper cookbook. You can see an example in our [Redis cookbook README](https://github.com/bloomberg/redis-cookbook#advanced-usage). Unfortunately the inversion attribute name is the name of the resource which in this cookbook's case is th

[2016-05-18 13:39] kamaradclimber commented on #314
Unfortunately, adding the code you suggested does not change anything.

[2016-05-20 09:37] kamaradclimber commented on #314
I've succeeded by monkey patching your provider in my wrapper cookbook

[code]

but I've submitted a cleaner patch in #316 to make this available to everybody

[2016-05-24 21:25] jschnare opened #317 "translate_wan_addrs config option not implemented"
I believe [translate_wan_addrs](https://www.consul.io/docs/agent/options.html#translate_wan_addrs) was added in 0.6.4.  It is not listed in the consul_config library.  Trying to set it raises a NoMethodError.

If I'm reading the code right, a workaround would be to pass this key/value through `options` on the consul_config resource.  Is that correct?

[2016-05-25 02:14] johnbellone commented on #317
Yes that's the right way. But we should really add it to the config. I'll keep this open as a reminder. PR is welcome!

[2016-05-25 04:58] gdavison opened #318 "Delay upstart `started` event until Consul is ready"
When Consul is started with upstart, upstart emits a `started` event once the service is launched, but it takes several seconds before it is ready to serve requests. If you have other services, such as consul-replicate, which depend on Consul, they can thrash before Consul is ready.

A stanza can be added to the Consul upstart config that would delay emitting the event until it is ready, or a simi

[2016-05-25 11:01] johnbellone commented on #318
This makes sense to me. It should be added as a separate template and we can add the override in service options (consul service resource).

[2016-05-31 15:13] #317 closed

[2016-05-31 15:23] #318 closed

[2016-06-02 02:01] kingpong opened #322 "Restrict config write access"
The consul cookbook makes the Consul config writable by the same user that runs the service, which is unnecessary and could be an attack vector. Would you accept a pull request which adds a couple new attributes and uses them for the ownership of `/etc/consul`?

    default['consul']['config_owner'] = 'consul'  # allows overriding with 'root' in wrapper
    default['consul']['config_group'] = 'con

[2016-06-02 02:07] johnbellone commented on #322
Perhaps we simply remove the attributes passing through in the default recipe (on this resource) and rely on the defaults. If you want to change to root/root you can override the config hash?

[2016-06-02 02:18] kingpong commented on #322
Ah! That didn't even occur to me. I think that's a great solution.

[2016-06-02 02:40] kingpong commented on #322
I may have spoke too soon. The conf.d directory is actually created by `consul_service`, not `consul_config` which means it is owned by the service user. Does conf.d need to be writable by the service user? If not, it could be moved into `consul_config` and belong to `node['consul']['config']['owner']`.

[2016-06-02 13:37] johnbellone commented on #322
I think it makes sense to move that directory and set permissions accordingly.

[2016-06-13 15:14] WarFox opened #329 "Package custom matchers for testing using ChefSpec"
Firstly, let me thank @johnbellone for creating this cookbook and making it open source.

I have a small proposal.

It will be nice to have matchers for testing resources in this cookbook, so that developers can write tests around it.

https://github.com/sethvargo/chefspec#packaging-custom-matchers

If we provide a matcher like the following,
[code]

then developers will be able to write tests lik

[2016-06-19 15:37] johnbellone commented on #329
You should have matchers automatically since we use the [Poise library](https://github.com/poise/poise) is that not the case?

[2016-06-20 12:40] WarFox commented on #329
Oh didn't know about that. Let me verify!

[2016-06-20 13:22] WarFox commented on #329
You are right! Poise has provided matchers for resources. I wasn't looking in the right place.

I'm just needed the following matchers
- create_consul_installation
- create_consul_definition
- enable_consul_service
- create_consul_config

[2016-06-20 13:23] WarFox commented on #329
Closing this issue, as matchers are already available. Thanks!

[2016-06-20 13:23] #329 closed

[2016-07-01 08:34] anuriq opened #333 "Service restart on Windows does nothing"
Good day. I am using this cookbook on Windows Server 2012 R2 to install consul agents and apply service definitions. Definition notifies consul service to restart of course. Reload is not working on Windows (which is expected).
[code]

But during converge (no matter kitchen or actual nodes) nothing happens, service is not restarted and definitions are not updated. A piece from log with debug level

[2016-07-01 17:07] jirkafajfr commented on #333
Hi,

pull #330 is actually fixing restart and adding reload support.

[2016-07-01 19:26] #333 closed

[2016-07-03 16:12] kingpong commented on #322
Fixed in #323 and #324.

[2016-07-03 16:12] #322 closed

[2016-07-05 10:25] anuriq opened #334 "consul_service reload on Windows fails"
@Ginja @jirkafajfr
Referring to https://github.com/johnbellone/consul-cookbook/pull/330

Check `cwd` parameter of execute block:

[code]

[2016-07-05 12:25] anuriq commented on #334
on the first run, these lines are used and everything's ok
https://github.com/johnbellone/consul-cookbook/blob/38ad0942e76874924729e2b61d503537ed604028/libraries/consul_installation_binary.rb#L76-L77
but then, default value is in place
https://github.com/johnbellone/consul-cookbook/blob/38ad0942e76874924729e2b61d503537ed604028/libraries/consul_service.rb#L48

[2016-07-05 15:56] jirkafajfr commented on #334
Hi,

are you sure that:
- ```consul::default``` is in your run list prior to resource definition which notifies restart (even in second run)?  [ln-74.](https://github.com/johnbellone/consul-cookbook/blob/38ad0942e76874924729e2b61d503537ed604028/recipes/default.rb#L74) sets ```consul_service.program``` to same value as ```consul_installation.consul_program```.
- aren't you defining own ```consul_se

[2016-07-05 16:10] jirkafajfr commented on #334
Hi @anuriq,

its actually visible in your log:
[code]

You should not have two resources of same type which are sharing name (see [CHEF-3694](http://tickets.chef.io/browse/CHEF-3694). Since program property is not set in your definition it will use default and fail.

I don't think that you should reload config with each converge. But equivalent to your code would be
[code]

[2016-07-05 17:32] anuriq commented on #334
Hi @jirkafajfr
I provided wrong log. In this case i added consul_service explicitly.
I define consul_service['consul'] one time in a "base" cookbook with `action :nothing`. Than definitions notify it. I'll provide correct log, where no duplicate consul_service is defined and error is the same.

[2016-07-05 19:51] jirkafajfr commented on #334
I think that's actually your problem. You should not define ```consul_service[consul]``` at all. It's already defined in [consul cookbook default recipe](https://github.com/johnbellone/consul-cookbook/blob/master/recipes/default.rb#L61) with proper parameters.

[2016-07-07 19:28] anuriq commented on #334
we just have a really weird installation method for consul. you are right. thanks!

[2016-07-07 19:28] #334 closed

[2016-07-11 22:13] gmreburn commented on #301
Version 0.6.1 of Consul added a new -ui command line and ui config option that enables a built-in Consul web UI, making deployment much simpler [GH-1543]. This means a separate install no longer exists for the UI component so you would think that the `consul_ui` is no longer needed; however, in order to support older versions of Consul (<0.6.1), `consul_ui` should not have been removed.

[2016-07-20 20:49] claudio-viola opened #338 "consul acl resource is not defaulting to configured consul url and port"
https://github.com/johnbellone/consul-cookbook/blob/master/libraries/consul_acl.rb#L20
it should be
'http://#{node['consul']['config']['client_addr']:#{node['consul']['config']['ports']['http']}'

[2016-08-05 21:04] jvogt opened #339 "When ui_dir is set in windows, ui does not work. Separate UI download/extraction seems to not be required for current version of consul on Windows."
The current version of consul only needs `ui = true` for the ui to work (at least on Windows).  No separate download required.  But if `ui_dir` is set in the consul.json config file, visiting the ui results in a 404.  Even when it is pointing to a linked location where the ui is actually separately extracted to (as this cookbook's default behavior attempts to do)

I couldn't figure out how to over

[2016-08-22 20:37] chrisferry commented on #192
@nicwaller but nothing in AWS is long-lived. You can't depend on that. You have to build self-healing into the app or the chef cookbook.

[2016-08-24 21:38] vijaybandari opened #341 "Restart service instead reload as only few configurations are reloadble."
Reload works only for few set of configurations as mentioned here.
https://www.consul.io/docs/agent/options.html#reloadable-configuration

https://github.com/johnbellone/consul-cookbook/blob/master/recipes/default.rb#L45
It should be restart instead of reload.

[2016-08-24 22:07] legal90 commented on #341
Hi @vijaybandari
That was done intentionally by https://github.com/johnbellone/consul-cookbook/commit/80f4a1ce4edb1638482e2391dabd1ba547ed7fad and https://github.com/johnbellone/consul-cookbook/pull/309
Please, refer to the discussion: https://github.com/johnbellone/consul-cookbook/issues/288

TL;DR: Automatic restart of Consul servers could cause a cluster downtime when you run chef-client simult

[2016-08-24 22:31] vijaybandari commented on #341
Thanks @legal90 , now it makes sense.

[2016-08-24 22:31] #341 closed

[2016-08-26 20:27] drywheat opened #342 "Installation archive URL should be configurable"
The archive URL is hardcoded to the value `"https://releases.hashicorp.com/consul/%{version}/%{basename}"` inside the `default_archive_url` class method defined by both the binary and webui installation resources.

Doesn't it make sense to move the base URL and checksums into attribute values so that cookbook consumers can cache copies of these packages where they see fit (e.g. S3, on-prem NAS, et

[2016-08-26 20:36] drywheat commented on #339
Setting `ui = true` using Consul v0.6.4 on Linux (debian 8.5) results in the following behavior:

1. The webui package is automatically downloaded and installed under `/opt/consul-webui`.
2. The webui installation is symlinked to `/var/lib/consul/ui`.
3. Consul server the UI component correctly.

As of Consul v0.6.4 (possibly earlier):

Ideally, setting `ui = true` should just add the option to th

[2016-09-08 23:03] stanchan commented on #342
I believe that this can be overridden by an inversion option. Not sure how it is being passed to the resource. Can anyone provide a sample of this?

[2016-09-15 12:39] Hoverbear opened #343 "Consul 0.7 is out!"
According to the [Hashicorp post](https://www.hashicorp.com/blog/consul-0-7.html) Consul 0.7 is now out.

[Downloads page](https://www.consul.io/downloads.html)

Changes required:
* [ ] Update the version string [here](https://github.com/johnbellone/consul-cookbook/blob/master/attributes/default.rb#L34)
* [ ] Add the checksums [here](https://github.com/johnbellone/consul-cookbook/blob/master/libra

[2016-09-16 09:07] Hoverbear commented on #343
#344 covers this issue.

[2016-09-19 15:57] jeffbyrnes commented on #339
#315 resolves this, but a version of this cookbook with those changes hasn’t been released yet.

[2016-09-19 15:57] legal90 commented on #343
Yeah, sure.
Implemented by #344

[2016-09-19 15:57] #343 closed

[2016-09-19 16:03] jeffbyrnes opened #347 "Cut a new release of this cookbook?"
The last release of this cookbook was May 17, and quite a bit of good stuff has been added since then, as well as the release of Consul 0.7.0.

It’d be great to see a new version cut & pushed to Supermarket.

Notable changes:

* #315
* #320
* #321
* #344

a plenty of fixes.

Perhaps v3.0.0, since the change in the Consul version is potentially breaking?

[2016-09-19 16:23] johnbellone commented on #347
Why is the change breaking?

[2016-09-19 16:36] jeffbyrnes commented on #347
Going along with Consul’s own versioning, a change from the 0.6.x series to 0.7.x is potentially breaking (as per SemVer), and, if an end-user of this cookbook has not set `node['consul']['version']` themselves, their systems will be upgraded to Consul 0.7.0, which may be undesirable.

As such, it seems polite & in-line with SemVer to bump this cookbook’s major version, for anyone whose wrapper is

[2016-09-19 17:40] johnbellone commented on #347
Yes, but the version of the cookbook is independent of the Consul project. We've traditionally only bumped the major version of the cookbook when there is a backwards incompatibility in the cookbook's code itself (e.g. when we added the consul installation resource).

[2016-09-19 19:22] jeffbyrnes commented on #347
I’m aware that it’s independent, but I think there’s a responsibility to the relationship between what version of Consul this cookbook installs by default, and what that might mean for an operator depending on this cookbook.

I would consider upgrading someone’s copy of Consul to be potentially breaking.

Is there some reason _not_ to bump the major number? Is there some negative I’m unaware of, o

[2016-09-26 08:36] Hoverbear commented on #347
The last tagged release on Github was actually in February: https://github.com/johnbellone/consul-cookbook/releases

We're also quite interested in getting a new release cut.

[2016-09-26 09:11] eyalzek commented on #347
+1

[2016-09-26 09:17] Hoverbear commented on #347
@eyalzek Please don't use comments for +1ing things. Github specifically added a reaction flag for this purpose. If you want to stay up to date you can use the "Subscribe" button on the side.

[2016-09-27 01:28] johnbellone commented on #342
[code]

[2016-09-27 01:28] #342 closed

[2016-09-27 01:32] johnbellone commented on #347
The last release of the cookbook was 2.1.3 in May. I'm going to release the current master as 2.2.

[2016-09-27 01:48] #347 closed

[2016-09-30 02:30] drywheat commented on #342
thank you.

[2016-09-30 13:43] #314 closed

[2016-10-03 15:11] willejs opened #351 "There is no longer a symlink to consul in /usr/local/bin"
Since 2.0 there is no longer a symlink of consul bin in the path.

[2016-10-05 08:24] #351 closed

[2016-10-05 18:02] milanaleksic opened #354 "ARM not properly supported"
Problem: instead of downloading binary from https://releases.hashicorp.com/consul/0.7.0/consul_0.7.0_linux_arm.zip this recipe tries to download it from https://releases.hashicorp.com/consul/0.7.0/consul_0.7.0_linux_armv7l.zip

I see you are using `kernel.machine`, but on all my ARM servers that seems to be a wrong choice and probably the best would be to read just first 3 characters from this oha

[2016-10-05 18:03] milanaleksic commented on #354
I am sorry, I didn't see you are already having this possibly handled by https://github.com/johnbellone/consul-cookbook/pull/353 no need to duplicate, will close this issue

[2016-10-05 18:03] #354 closed

[2016-10-06 01:30] barshashrest opened #355 "upstart: consul info hangs with custom client_addr"
In the init script /etc/init/consul.conf created by [this template](https://github.com/johnbellone/consul-cookbook/blob/master/templates/default/upstart.service.erb#L51), there is a post-script script:

[code]

This runs `consul info` by default with rpc address localhost. However this is problematic when we provide a custom client_addr (for example I want to specify the instance IP itself rather

[2016-10-07 10:48] johnbellone commented on #355
This is definitely undesirable - I am assuming that you have [changed the **client_addr** parameter](https://github.com/johnbellone/consul-cookbook/blob/master/libraries/consul_config.rb#L55) inside of the configuration resource? I would expect that it reads that file prior to running anything.

[2016-10-07 20:52] barshashrest commented on #355
Yeah I am using the `client_addr` attribute. I think that the [upstart.service.erb](https://github.com/johnbellone/consul-cookbook/blob/master/templates/default/upstart.service.erb#L51) template needs to be modified at the specified line because `consul info` by default runs on localhost (same is the case with any other consul commands like `consul members`. So changing that line to `consul info -

[2016-10-19 07:55] pdf commented on #339
FYI, #315 needs #360 to work as expected.

[2016-11-02 16:38] #339 closed

[2016-11-02 17:51] mpsbauer opened #363 "Add support for Supervisord"
Looks like this only works with upstart, systemd, or sysV. Is there any hope of getting supervisor added to that list?

[2016-11-03 22:04] gdavison opened #365 "Four failing RSpec tests in master branch"
There are four failing RSpec tests in master:

- rspec ./test/spec/recipes/default_spec.rb:30 # consul::default with create_service_user disabled does not try to create the user
- rspec ./test/spec/libraries/consul_installation_webui_spec.rb:31 # ConsulCookbook::Provider::ConsulInstallationWebui webui installation
- rspec ./test/spec/libraries/consul_installation_webui_spec.rb:25 # ConsulCookbook:

[2016-11-03 22:54] tgwizard opened #366 "Changelog doesn't mention v2.2.0, 2.1.3 or 2.1.1"
The latest info in the Changelog is for v2.1.1: https://github.com/johnbellone/consul-cookbook/blob/b1c40f6e6ca92c44dbe3d5d6a2a58d8972952d1a/CHANGELOG.md#v211.

What has changed since then? Could we please update the changelog?

[2016-11-03 22:56] tgwizard commented on #366
v2.2.0 seems to be the latest on chef supermarket: https://supermarket.chef.io/cookbooks/consul

[2016-11-04 04:16] gdavison commented on #365
It looks like the WebUI tests have to be marked `pending` individually, which resolves three of the tests.

For the user test, calling `default_attributes` does not seem to be passing the attributes to the recipe during the test. I also added some tests in paybyphone/consul-cookbook

[2016-11-04 15:10] isuftin opened #367 "dev_mode attribute causes error in startup"
In my Test Kitchen, I've added the dev_mode attribute to be true.

When converging Consul, I get the following issue:

[code]

Consul is running version 0.7.0

[2016-11-04 17:52] gdavison commented on #367
Looks like dev mode is a command line parameter `-dev`, rather than going in the config file. https://www.consul.io/docs/agent/options.html#_dev

[2016-11-04 20:44] isuftin commented on #367
I concur. From reading the documents, I'm not sure there actually is a config file version of that commandline flag.

Perhaps setting this attribute in the cookbook could cause the service startup to throw in the -dev flag instead

[2016-11-08 15:10] isuftin opened #369 "What happened with the consul data bag?"
Looking at this: https://github.com/johnbellone/consul-cookbook/pull/98

In the latest 2.2.0 tag, this is nowhere to be found and I can't find any chatter discussing the removal of this. So are we not using a data bag for the encrypt attribute and tokens?

[2016-11-08 19:18] isuftin opened #370 "Sensitive data in Chef logs"
Sensitive data is placed into Chef logs.

Example from Kitchen test run with throwaway sensitive data:

[code]

Expected behavior is for the configuration writing to take the behavior of the Chef template resource using the "sensitive" flag. Do not write out to log what is being written to the configuration files.

[2016-11-11 08:54] nidhishopback commented on #322
Hi,

I am facing an issue related to config file permissions. I have overridden the default user of config and service to 'root' in wrapper cookbook :
[code]

Still, on running chef-client, it looks for consul user to add a service config :(
[code]

Can you please suggest what I am missing here to have my config files owned by root?

[2016-11-14 10:22] nidhishopback opened #372 "Not able to run consul resource consul_definition as root:root"
Hi,

I am facing an issue related to config file permissions. I have overridden the default user of config and service to 'root' in wrapper cookbook :

[code]
Still, on running chef-client, it looks for consul user to add a service config :(

[code]
Can you please suggest what I am missing here to have my config files owned by root?
Is it mandatory to have consul username and group created even if

[2016-11-15 09:27] #365 closed

[2016-11-18 16:20] matthew-watson1 opened #375 "Latest Configuration Changes - New version release?"
The latest tagged version of the cookbook does not contain the performance parameters (for raft multiplier etc) which are needed for production. Any idea when the new version will be committed?

[2016-11-18 20:09] empath commented on #370
Yeah, this is a big deal if you're running it with jenkins.

[2016-11-18 21:03] tanner-bruce opened #377 "Move from zipfile to poise-archive broke webui provider"
Webui is still using zipfile resource

[2016-11-22 15:53] richid commented on #375
Similarly, there are missing configuration options for things like `dogstatsd_*` and `retry_join_ec2` in `ConsulConfig`. I realize it's difficult to keep this list updated with the available options upstream so I was wondering if there should be an `extra_config` parameter. This would just be a free-form hash that gets turned into the configuration JSON without any validation.

[2016-11-24 14:24] johnbellone commented on #375
We will be releasing 2.3 in the next few days. PR are welcome for config options that are missing!

[2016-11-24 14:24] #375 closed

[2016-11-25 21:34] johnbellone commented on #366
I generated a new version using github changelog generator in #379. We are waiting for a few things prior to actually tagging/pushing.

[2016-11-25 21:34] #366 closed

[2016-11-25 21:36] johnbellone commented on #363
We are dependent on the upstream [poise-service cookbook](https://github.com/poise/poise-service) which currently does not have supervisord support. I know that its been on @coderanger backlog, but there is already support for [runit](https://github.com/poise/poise-service-runt) and [monit](https://github.com/poise/poise-monit).

[2016-11-25 21:36] #363 closed

[2016-11-25 21:37] johnbellone commented on #367
I am pretty sure this is a relic from an older version of Consul. We are open to accepting PR here.

[2016-11-25 21:39] johnbellone commented on #355
Does `consul info` not read from the configuration file? It would be kind of a pain to have to wire in command-line parameters into templates... we've just relied on the fact that commands read from a default location for the configuration.

[2016-11-28 10:11] rollbrettler commented on #372
@nidhishopback Should work with the latests master branch since https://github.com/johnbellone/consul-cookbook/pull/362 got merged.

[2016-12-05 18:26] richid commented on #375
After reading the Consul documentation some more I found a quick way around this so I'll leave it here in hopes that it helps someone else.

From the Consul [docs](https://www.consul.io/docs/agent/options.html):

So in my wrapper cookbook I just defined some extra attributes:

[code]

And then tossed this into the wrapper cookbook's `default` recipe:

[code]

Works like a charm! Thanks again!

[2016-12-05 20:30] errygg opened #381 "Update to consul.json does not trigger service restart"
Had to update the node name to the hostname to support our deployment, but when the node name (i.e. node['consul']['config']['node_name']) attribute was overridden, it did not restart the consul service. Had to manually restart to capture the new node name.

Running on ubuntu jessie with chef client version 12.16.42.

[2016-12-06 07:00] legal90 commented on #381
Hi, @errygg
This issue duplicates #307 and #341

Service restart was disabled intentionally by https://github.com/johnbellone/consul-cookbook/commit/80f4a1ce4edb1638482e2391dabd1ba547ed7fad and https://github.com/johnbellone/consul-cookbook/pull/309
Please, refer to the discussion: https://github.com/johnbellone/consul-cookbook/issues/288

TL;DR: Automatic restart of Consul servers could cause a c

[2016-12-06 17:33] errygg commented on #381
Thanks @legal90! I guess I wasn't the first to see this. I'll go ahead and close the issue out. _Automate all the things (except consul restarts 😆 )_

[2016-12-06 17:33] #381 closed

[2016-12-09 14:37] swilson-uscis opened #383 "Add/document getting consul from an internal url"
Based on:
https://github.com/johnbellone/consul-cookbook/blob/master/libraries/consul_installation_binary.rb#L38
it doesn't appear this is currently supported (and surely isn't documented/obvious)

[2016-12-15 19:28] #377 closed

[2016-12-16 17:01] legal90 commented on #370
Fixed by https://github.com/johnbellone/consul-cookbook/pull/376

[2016-12-16 17:01] #370 closed

[2016-12-16 20:26] legal90 commented on #369
Hi @isuftin,
The integrated support of data bags has been removed when custom resources (like `consul_config`) were implemented: https://github.com/johnbellone/consul-cookbook/issues/238#issuecomment-193529717

The recommended way is managing data bags on the upper level, in wrapper cookbook. For example:
[code]
E.q. you should not include `consul::default` recipe here, but feel free to use our re

[2016-12-16 20:26] #369 closed

[2016-12-16 20:43] legal90 commented on #367
Hi there,
`-dev` CLI option was designed for an interactive shell session, especially for evaluation or dev purposes. That's why there is no such option available for config files.
Sorry, but I don't think that we should try to implement any tricks to make a consul daemon running in dev mode.

If you want to bootstrap the single consul server for dev purposes using this Chef cookbook, then you can

[2016-12-16 20:59] legal90 commented on #338
Hi @claudio-viola
Sorry, but it should not be so. `url` attribute of `consul_asc` resource defines the URL which will be used for _sending_ the request.

However, both of `node['consul']['config']['client_addr']` and `node['consul']['config']['ports']['http']` define how the _local_ consul agent should be configured in case we want to set it up. Moreover, `node['consul']['config']['client_addr']`

[2016-12-16 20:59] #338 closed

[2016-12-16 21:15] legal90 commented on #383
Hi @swilson-uscis
The answer is here: https://github.com/johnbellone/consul-cookbook/issues/342#issuecomment-249743094
You can override `node['consul']['options']['archive_url']` by any string (interpolated variables `base_name` and `variables` could be used, but not required). Example:
[code]

But yeah, we should definitely document such things... :(

[2017-01-04 15:08] quulah opened #389 "Problems with package install"
I've packaged consul as a .deb package, and have it in an internal repository. I've been trying to persuade this cookbook to install it by using the consul_installation with the package provider.

There's little documentation on the subject, and seems like the tests are limited too. The best I've got so far is giving the following options based on the suggestion in #383.

[code]

But this results

[2017-01-04 15:31] legal90 commented on #389
@coderanger Could you please assist here? Do we actually need to replace `options` with `new_resource.options` in poise-driven providers?

[2017-01-04 15:32] quulah commented on #389
As a quick hack I change the cached version of the cookbook to not give stuff from the _options_ directly to the _package_ resource, but used a temporary parameter in between.

The source parameter wouldn't work in this case any way since apt_package doesn't support it. dpkg_package is required in that case.

Removing checksum was also necessary, as the package resource doesn't have it.

[2017-01-04 15:32] quulah commented on #389
It now installs in my particular case from the repository, but this might require a bit more thought. :)

[2017-01-06 14:51] kamaradclimber opened #390 "consul user home is not created anymore"
It seems that consul user home is not created since the migration to poise_service_user (https://github.com/poise/poise-service/blob/0d04e7df5734c5c703d0e2f12aab90f55380c268/lib/poise_service/resources/poise_service_user.rb#L73).

Could you create it again?
Otherwise some checks launched by consul agent might fail (it is common to expect a $HOME variable defined)

Thanks,

[2017-01-09 13:26] raju-divakaran opened #391 "Bind consul to a specific IP"
Hello,

Recently we enabled docker-engine on a server where we are having consul agent also running. Soon after starting docker-engine, as we know the docker0 ( default bridge n/w ) is enabled. This results in consul not getting started, as it complains there are multiple internal IPs.

Can we please incorporate a way to bind consul agent to an IP if needed by including that option in the systemd

[2017-01-09 14:06] legal90 commented on #391
Hi @raju-divakaran
You can set any consul configuration option in the attribute, like this:
[code]
In particular, for (bind_addr)[https://www.consul.io/docs/agent/options.html#bind_addr] it will be:
[code]

Being passed to `consul_config` resource, these options will be rendered in `/etc/consul/consul.json` and parsed by the consul daemon after restart.
https://github.com/johnbellone/consul-cookbo

[2017-01-09 19:49] barrowkwan opened #392 "Can't use the cookbook with Chef 11 because of firewall cookbook"
Hi,
  I am trying to use the cookbook Chef11 but got error with firewall cookbook because firewall cookbook 2.0.0 and above can only be used with Chef 12.  I wonder if consul 2.0 and above has to use firewall cookbook 2.0.0 or can use firewall cookbook with an earlier version?

[2017-01-10 19:34] legal90 commented on #392
IMO, I would remove "firewall" dependency from the cookbook (and the related block from the "default" recipe). That is an important thing, but is really specific and depends on the platform and the concrete use case, so it's better to handle it in a wrapper cookbook.

@johnbellone, what do you think about this?

[2017-01-11 14:03] johnbellone commented on #392
I agree with @legal90 - this should be managed inside of a wrapper such as [consul-cluster cookbook](https://github.com/bloomberg/consul-cluster-cookbook). But I want to stress that outside of this, @barrowkwan should note that Chef 11 is not supported by this cookbook. It may work, but that client version is very old.

[2017-01-11 14:04] johnbellone commented on #392
This also constitutes a major version change.

[2017-01-11 14:05] #372 closed

[2017-01-11 14:05] johnbellone commented on #372
Please re-open if #362 does not solve this issue.

[2017-01-11 14:14] johnbellone commented on #390
This is probably because the user resource does not create/manage home directory by default.

[2017-01-11 16:57] kamaradclimber commented on #390
yes it is

[2017-01-12 09:59] legal90 commented on #391
I hope my comment above helps.
Closing this issue.

[2017-01-12 10:00] #391 closed

[2017-01-13 12:48] legal90 commented on #389
Confirmed -  the provider `package` for `consul_installation` resource doesn't work at the moment:

#### 1. Name "options" could not be used in the block of a built-in `package` resource:
https://github.com/johnbellone/consul-cookbook/blob/3e123c2/libraries/consul_installation_package.rb#L36-L45
Debugging:
[code]

It is `nil` because the name "options" is already in use as an attribute of `package

[2017-01-16 10:58] raju-divakaran commented on #391
Yes, I don't know how I missed that option. Thanks much!

[2017-01-17 06:57] quulah commented on #389
Haven't had time to test it yet, sorry. I'll try as soon as I can.

Looking at the changes, it looks better, but I think it will still fail on Debian based installs when you specify the source. I don't know what's the reason behind it, but if you do so, you get [this error message](https://github.com/chef/chef/blob/master/lib/chef/provider/package/apt.rb#L47) from the ``apt_package`` resource inst

[2017-01-17 10:59] legal90 commented on #389
@quulah I've appended a new commit there, adding a new option, `package_provider`. So now you can force `dpkg` usage:
[code]

[2017-01-18 12:50] #389 closed

[2017-01-18 12:51] #367 closed

[2017-01-18 12:58] #392 closed

[2017-01-20 06:48] predominant commented on #355
@johnbellone Further to this, the `post-start` loop at the end of the upstart really should be placed in any dependant service `pre-start`.

The condition for consul to start is not a successful `consul info` return result. It is a `pre-start` condition for any dependant services, though. Consul should start even if `consul info` fails, as it retries its cluster/master connection as part of normal

[2017-01-31 19:45] jasonmcintosh opened #405 "When service_user is root and config user is consul, cookbook fails"
Consul 2.3.0 fails if the service_user is root, and the config user isn't set or is set to consul.  This causes the poise user to not be created, causing directory configuration to fail.  This is primarily when migrating from a 2.1.3 to 2.3.0 release. A few possible fixes off top of head...

Change default recipe so it'll create the user if either is false.
-----
  not_if { node['consul']['service

[2017-01-31 19:48] jasonmcintosh opened #406 "When default system umask isn't 0022 and service_user isn't root, job fails"
Directory ownership on the binaries should probably be set to the consul user by default, or the permissions setup so that the directories may be world readable/executable by consul group, and ownership set to the consul group.

[2017-01-31 21:51] jasonmcintosh commented on #288
Please note consul itself is designed to handle and support these use cases.  See examples below for a method which would prevent multiple nodes from restarting simultaneously.
https://www.consul.io/docs/guides/semaphore.html
Chef itself supports this through handlers (working on open sourcing an example of this) to allow semaphores and mutex locking.

Second thing which is more a policy issue - I

[2017-01-31 22:50] jasonmcintosh opened #407 "Reload happens before start of service"
When testing, a reload of the service is occurring BEFORE consul has fully started (the delay happens almost immediately after the service start).  This seems to cause consul to fail to start causing some tests to fail.  I added a sleep block as a stop-gap:
[code]
After a start of the service, but there's probably a better/cleaner way to handle this.

[2017-02-01 00:46] johnbellone commented on #407
What platform and version?

Sent from my iPhone
JB

[2017-02-01 01:39] jasonmcintosh commented on #407
CentOS 7, x86-64.  COULD be a bug in consul, or in the service startup arguments.  Just noticed it in here, thought I'd report it.  I'll probably post a message to Consul as well.

[2017-02-03 13:51] raju-divakaran opened #409 "UI support is not available"
Hello,

Did we remove UI support from consul cookbook !?

Thanks

[2017-02-03 15:25] jasonmcintosh commented on #409
Note, in the latest consul release, UI is there as a configuration option and not a separate deployment.  Consul itself still supports the old UI directory stuff, but you shouldn't need it.

Looking, the cookbook no longer supports the old installation of the UI as a separate thing.
https://github.com/johnbellone/consul-cookbook/commit/9cd80b991f73ea15e1b19be926186743cb52a8ac

I'd say the cookbook

[2017-02-03 16:25] legal90 commented on #409
The details are here: https://github.com/johnbellone/consul-cookbook/pull/396
Disclaimer: yes, we removed it in the scope of the upcoming major version bump (v3.0.0)

[2017-02-03 16:25] #409 closed

[2017-02-08 14:46] kamaradclimber opened #410 "Be more flexible on configuration accepted by this cookbook"
Whenever a new consul version is released, one need to patch libraries/consul_config.rb to extend the list of supported options.

This makes it a bit painful.

It is possible to do hacky stuff with the option_collector by reopening the resource but it is not really straightforward for most users.

Would it be possible to allow to specify new options without encountering:

    undefined method `nod

[2017-02-08 15:03] kamaradclimber commented on #410
Provided that #411 is merged, it is actually doable via attributes:

[code]

thx!

[2017-02-09 13:16] #410 closed

[2017-02-10 22:20] matkam opened #412 "Can't enable or reload service"
Started getting this error recently, possibly due to using a newer version of poise-service. Using Consul recipe 2.3.0, running on Ubuntu 14.04:

[code]

[2017-02-11 01:19] matkam commented on #412
Turns out this was happening because the Consul was having trouble starting up due to configuration issues.

[2017-02-11 01:19] #412 closed

[2017-02-13 16:22] 123BLiN opened #413 "Need a way to override default application dir."
Hello!

Thank you for this great job!
Is there any way to override config_prefix_path in the wrapper cookbook?
https://github.com/johnbellone/consul-cookbook/blob/master/libraries/helpers.rb#L39

Will you approve such pull request if it is not possible currently?

Thanks,
Roman.

[2017-02-16 21:53] 123BLiN commented on #413
we went with another solution, closing.

[2017-02-16 21:53] #413 closed

[2017-02-16 21:57] 123BLiN opened #414 "No resource or method named `platform_family?' for ConsulCookbook::Provider::ConsulService"
Chef-client version - 12.6.0
consul-cookbook - 2.3.0
Centos 7

Can someone advice what to do with such error?:
[code]

[2017-02-17 00:43] aschneid75 commented on #414
I'm attempting to use 2.3.0 and having the same problem.  On a Google search, it looks like an LVM cookbook was having the same problem:

https://github.com/chef-cookbooks/lvm/issues/115

It looks like the Platform Introspection DSL needs to be added to the library:

https://github.com/chef-cookbooks/lvm/pull/116/files

I looked through this cookbook's source and I'm not seeing it.  I was going to

[2017-02-17 08:07] 123BLiN commented on #414
Hello again :)
In my case the problem was in the fact that I've forked the wrong cookbook version (master) instead on v2.3.0.

the problem is in that line:
https://github.com/johnbellone/consul-cookbook/blob/master/libraries/consul_service.rb#L93
vs
https://github.com/johnbellone/consul-cookbook/blob/v2.3.0/libraries/consul_service.rb#L93

thanks @maxnasonov for finding this out!

[2017-02-17 15:05] aschneid75 commented on #414
I'm figuring that's my problem too then.  Didn't even think and pulled down master to look at the cookbook and then proceeded to use it instead of the 2.3.0 branch.  I'll give that a shot.

Thanks for pointing it out!

[2017-03-11 19:59] #414 closed

[2017-03-14 20:52] taharah opened #418 "Need to add the configuration option for specifying `node_id`"
The configuration library does not currently support setting the `node_id`. Moreover, any other options for the 0.7.x and upcoming 0.8.x branch should be added.

[2017-03-21 12:04] #418 closed

[2017-04-06 16:24] vsudilov opened #423 "Default recipe starts consul with `server: true`"
seemingly, the root cause is that consul version at least > 0.7.0 ships with `server: true` as a default in `consul.json`;

this can be seen by changing `node['consul']['version'] = 0.7.0` in the latest cookbook version, and noticing no `server: true` line in said file as compared to the cookbook's default consul version.

The docs are out of date WRT to this change in behaviour.

[2017-04-07 11:41] legal90 commented on #423
Hi, @vsudilov.

Yes, as I can see, we have a default value for `server` option set to true:

FYI: It's not related to the Consul version, it will be always `true`. That behavior is here since the beginning, from the first version of this cookbook. And personally, I agree that it is not expected.
Especially, "README.md" promises that we bootstrap consul agent in a *client* mode:

I think, we should

[2017-04-23 18:02] #423 closed

[2017-05-03 20:38] fortman opened #428 "ArgumentError: consul_service[consul]"
Environment: win2012r2
Chef Version: 12.19.36
depends 'consul', '~> 2.3.0'

Not sure what else is needed, but recipes work fine on Ubuntu 16, but when I test with Windows 2012r2, I get the following error:
[code]

[2017-05-04 06:04] legal90 commented on #428
Hi @fortman
This issue was recently fixed by https://github.com/johnbellone/consul-cookbook/pull/422
I'll manage to release a new cookbook version with that fix soon.
At the moment I can recommend you to try the latest revision from repo's "master" branch.

[2017-05-04 06:04] #428 closed

[2017-05-05 15:25] sshah-biz opened #432 "Need some help to override data bag item"
How can override the data bag item for sanely override the data bag item name in wrapper cookbook - https://github.com/bloomberg/consul-cluster-cookbook.
We keep following items in data bag and will like to know what are the changes required to use this by overriding data bag items.
['consul-cluster']['tls']['ssl_key']['item']
['consul-cluster']['tls']['ssl_cert']['item']
['consul-cluster']['tls']

[2017-05-07 18:37] legal90 commented on #407
It should be fixed by #427

[2017-05-07 18:37] #407 closed

[2017-05-08 12:40] MichaelKueller commented on #407
actually this particular behaviour will be fixed with #433

[2017-05-17 20:18] brentm5 opened #436 "Error message when running the server enable action on windows"
We are using a relatively older version of this cookbook (1.4.3) and today we started seeing an error which was really vague.  Ended up tracking it down to the [new version of nssm](https://github.com/dhoer/chef-nssm/releases/tag/v3.0.0).  It might make sense to actually lock this cookbook down to at least be `~> 2.0`. I am not sure if any other versions were affected by this as well however.

[co

[2017-05-18 05:26] legal90 commented on #436
@brentm5 Have you tried the latest state of `consul` cookbook from master branch?
It should be fixed by https://github.com/johnbellone/consul-cookbook/pull/422 (not released yet)

[2017-05-18 13:37] brentm5 commented on #436
Nope, but if that solves the issue its good enough for me.  I just didn't see a fix anywhere.  Ill go ahead and close out my PR as well.

[2017-05-18 13:37] #436 closed

[2017-05-21 08:14] moofish32 opened #438 "restart followed by reload is unnecessary"
The default recipe currently sets up a situation in which restart is called followed immediately by reload. Is there a benefit here? The disadvantage is that in RHEL 6.9 consul actually fails to start because these are called back to back for me. I would say it's definitely a race condition but seems to be about 8 out of 10 so far.

If we make this a restart, then only one action is taken and I th

[2017-05-22 10:44] davidsayers opened #439 "Bump supermarket cookbook version"
Hi,

Would it be possible to upload a new version of this cookbook to the supermarket? There have been a lot of changes and I would rather not pull it directly from the repo.

David

[2017-05-23 09:05] MichaelKueller commented on #439
Hey, I believe the title of this Issue is misleading, as you are asking for the version to be bumped rather than a new cookbook to be created.

[2017-05-23 11:37] davidsayers commented on #439
Yeah, that's what I meant 😄

[2017-05-24 08:36] jmauro commented on #439
+1
We really need some bugfixe.

Thx

[2017-05-27 19:01] legal90 commented on #438
@moofish32 Thank you for pointing on this! You're right - we actually have two subsequent actions with Consul service on the initial bootstrap:

[code]
And that should be fixed. I'll look into it soon.

[2017-05-27 19:57] legal90 commented on #438
Fixed by #433

[2017-05-27 19:57] #438 closed

[2017-05-30 15:00] pjjohnstone commented on #428
Hi, I've pulled the latest changes from master and I still see this issue.  Running chef 12.19.36:

           ArgumentError
           -------------
           wrong number of arguments (given 1, expected 0)

[2017-05-31 10:13] pjjohnstone opened #448 "windows service config file/dir paths not escaped with quotes in NSSM config"
Command block from helpers.rb:
[code]

But the resulting reg entry in the consul service hive is:
`agent -config-file=C:\Program Files\consul\consul.json -config-dir=C:\Program Files\consul\conf.d`

Which causes the following startup/restart error:
`Error reading 'C:\Program': open C:\Program: The system cannot find the file specified.`

Using latest master branch from repo NOT the supermarket coo

[2017-05-31 10:32] legal90 commented on #448
Ping @Ginja. Could you please take a look at this issue? How does it work for you?

[2017-05-31 10:39] legal90 commented on #355
That issue was fixed by https://github.com/johnbellone/consul-cookbook/pull/434/commits/25090275a3cc9132236fb83cb583d6a60b5ac62f in the scope of #434
`post-start` hook was just removed.

[2017-05-31 10:39] #355 closed

[2017-05-31 11:05] legal90 commented on #405
https://github.com/johnbellone/consul-cookbook/pull/446 will fix that issue.
A node attribute `['consul']['config']['owner']` will not be defined, so the dafault owner of Consul config will be a value of the node attribute `['consul']['service_user']` (which is "root" in your case).

https://github.com/johnbellone/consul-cookbook/blob/eebc1299cefb6d766218904ea372566cc84bf373/libraries/consul_confi

[2017-06-01 12:05] pjjohnstone commented on #448
I can no longer reproduce this, no idea what was going on.

[2017-06-01 12:05] #448 closed

[2017-06-11 12:14] #405 closed

[2017-06-11 18:11] legal90 commented on #439
Done. Finally, v3.0.0 is released and published on Supermarket.
Changelog: https://github.com/johnbellone/consul-cookbook/blob/f2e9e53a487431d10cc2500ed67166ccbf8a5c2a/CHANGELOG.md#v300-2017-06-11

[2017-06-11 18:11] #439 closed

[2017-06-11 18:42] legal90 commented on #301
Hi all! I'm going to close this issue since v2.0.0 was released a while ago, so I'm not sure that any of maintainers cat/want to groom the changelog for that release (but we are open for Pull-Requests ;) ).

However, today we fully understand the importance of a good changelog, so the recent release v3.0.0 has a good changelog with breaking changes mentioned: https://github.com/johnbellone/consul-

[2017-06-11 18:42] #301 closed

[2017-06-13 13:31] maxnasonov opened #450 "Restart consul service after installation"
Currently it doesn't seem that the service is restarted after installation. Is it done on purpose (e.g. not to break a cluster)? Is it worth to have an option (as a parameter) to restart the service?

I've verified on 2.3.0 but 3.0.0's code looks the same.

[2017-06-19 21:32] moofish32 commented on #406
Is this issue still active?

[2017-06-22 16:10] georgiou commented on #450
Looking at the update from 2.3.0 to 3.0.0 I see a service reload but since the systemd service file has an `ExecReload=/bin/kill -HUP $MAINPID` it doesn't switch to the new version

[2017-07-05 16:04] emachnic opened #451 "Consul command not available on Windows"
Just a quick fix but currently, the Windows installation does not add the Consul directory to the path and trying to run `consul` commands from Powershell do not work. I was able to get around this by using `windows_path` from the Windows cookbook like so:

[code]

It might be cool to go ahead and do this in the cookbook already so that the consumers of the cookbook don't have to.

Cheers,
Evan

[2017-07-12 16:41] gdavison opened #453 "Code coverage values are inconsistent and blocking PR to fix 3.0 for Windows"
I recently submitted PR #452, and it's blocked due to code coverage. I added tests to the cookbook, so this seemed weird.

The coverage report shows no coverage for actions on `consul_service_windows` that are definitely tested.

I then ran the tests locally to look at the coverage report, and the values reported changed from one run to the next with no code changes! (Note that the files change pl

[2017-07-12 16:46] gdavison commented on #451
A shortcut might be a better option, in the same way that the *nix versions use a symlink. I haven't tested that this works, though

[2017-07-13 06:56] gdavison commented on #451
@emachnic, a Windows symlink will do it. I have code on https://github.com/paybyphone/consul-cookbook/tree/windows_executable_symlink that creates it.

It's waiting on #452 to fix Windows issues with cookbook version 3.0

[2017-07-13 17:24] emachnic opened #454 "nssm 3.0.1 breaks consul service reload because the %WINDIR% parent directory does not exist"
I tested versions 3.0.0 and 3.0.1 of nssm and it looks like whatever change they made has broken the consul cookbook. I created https://github.com/dhoer/chef-nssm/issues/16 but it might be a good idea to lock the dependency to 3.0.0 for now. Here is the relevant stack trace:

[code]

[2017-07-17 02:40] gdavison commented on #454
https://supermarket.chef.io/cookbooks/nssm just released version 3.0.2, and it works

[2017-07-19 13:29] isuftin opened #457 "Implement config attribute http_config"
`http_api_response_headers` has been deprecated as of 0.8.5

The new attribute is `http_config` which includes `response_headers` as a sub-item

https://www.consul.io/docs/agent/options.html#http_api_response_headers

[2017-07-19 13:34] isuftin opened #458 "Implement missing Consul config options"
I've found a few configuration options for Consul that have not been implemented:

- encrypt_verify_incoming
- encrypt_verify_outgoing
- verify_incoming_https

[2017-07-24 17:32] gdavison opened #461 "Race condition when acquiring cluster leadership for tests"
I've noticed a number of times when running the integration tests that I get the following error with the ACL tests:

[code]

I assume that it's a race condition between the server initializing itself and the ACL test being run. It's currently affecting PR #460

@legal90, would it be worthwhile adding a `retry` to the Diplomat requests? I can put together a PR for this

[2017-08-01 19:29] aprice commented on #454
Using consul 3.0.0, nssm 3.0.2 on Windows 2016, Chef 13.2.20, this issue persists. According to https://github.com/dhoer/chef-nssm/issues/16 this is an issue in the consul cookbook, not the nssm cookbook. This _seems_ to be accurate as the nssm cookbook runs fine, but the consul cookbook does not. And I have to agree with the assessment in that issue on nssm - there is no reason Consul should be o

[2017-08-04 11:24] legal90 commented on #458
Fixed by #459

[2017-08-04 11:24] #458 closed

[2017-08-04 14:59] northrup opened #463 "Repo metadata.rb says 3.0.0, but current files aren't tagged for 3.0.0 in git"
The Chef Supermarket uses the repo tags for versioning and not just the metadata.rb, and what you have tagged as 3.0.0 is no longer consistent or fresh with that's in the repo with the metadata.rb of 3.0.0.

This manifests itself when using Consul 9.0 and wanting to use `enable_script_checks`, which is in the current attributes of the library, but not in the tagged v3.0.0 version.

Could we either

[2017-08-09 21:13] mattlqx opened #465 "Using consul with Chef::Handler::JsonFile causes exception in handler"
Looks like the handler tries to serialize everything into json with `to_json` and something along the line results in `ConsulCookbook::Resource::ConsulConfig.to_json` being called with an argument. You can get this result just including `chef_handler::json_file` in your run_list.

[code]

[2017-09-06 04:26] yardinicwaller commented on #423
Please consider backporting this fix to the 2.x release set. I'm glad this change made it into the repo, but I managed to get bitten by this anyways.

I was upgrading from consul==1.5.0 and I thought "better to do one major version at a time" so I ended up going with 2.3.0. This particular doozy of an issue (defaults to server=true in 2.3.0) was mentioned in the changelog... but only for 3.0.0 whi

[2017-09-06 07:30] legal90 commented on #423
Hi @yardinicwaller
You can just set the attribute explicitly in your wrapper cookbook, role, environment, or Puppetfile (depending on the pattern you are using):
[code]

[2017-09-06 17:40] yardinicwaller commented on #423
Yes, thank you @legal90, that's exactly what I did.

However, that doesn't address my concern. The point is that this version 2.x of this cookbook has a radically different default behaviour than the 1.x version of the cookbook, and this change in behaviour *is not documented* as a breaking change. This means that other people who are upgrading from 1.x to 2.x are likely to fall into the same trap

[2017-09-11 18:28] LXXero opened #469 "consul_installation_package uses action :upgrade which ignores version on redhat"
libraries/consul_installation_package.rb is using action :upgrade on the package create action. This ignores version for the yum provider, and in turn means this cookbook always is upgrading consul to the latest version regardless of the version specified. :install would be a much nicer default action, but making this configurable would also be nice.

https://docs.chef.io/resource_yum.html
:upgrad

[2017-09-20 15:44] raju-divakaran opened #470 "protocol version type should be string or integer !?"
Hello,

I upgraded the consul build and then while upgrading the protocol version to 3, noticed an issue.

`Chef::Exceptions::ValidationFailed
  ----------------------------------
  Option protocol must be a kind of [String]!  You passed 3.`

In library consul_config.rb protocol is mentioned as type string and raft_protocol as type integer, if am correct both should be type integer.

When you ment

[2017-10-01 13:46] legal90 commented on #457
Implemented by https://github.com/johnbellone/consul-cookbook/pull/468

[2017-10-01 13:46] #457 closed

[2017-10-01 14:29] #454 closed

[2017-10-01 14:46] legal90 commented on #453
@johnbellone I would suggest disabling CodeCoverage integration for that repo until we got anybody who will be ready to bring everything to green and maintain this cookbook actively.

[2017-10-01 14:48] legal90 commented on #461
Hi @gdavison,

Yeah, that would be great! 👍

[2017-10-01 15:13] legal90 commented on #450
Hi @maxnasonov,
Yes, this cookbook's recipes don't trigger a consul service restart. You are right - it was done intentionally, in order not to break a cluster on the version upgrade:
https://github.com/johnbellone/consul-cookbook/issues/288

But you can try to use that trick, allowing to override any parameter of the resource defined in another recipe:
[code]

[2017-10-01 15:13] #450 closed

[2017-10-03 13:06] vitali-zevako opened #471 "Ability to append environment variables for consul service via node attributes"
Would be nice to have ability to append environment variables for consul service via node attributes

Example:
[code]

And result of it:
`Environment="GOMAXPROCS=8" "PATH=/usr/local/bin:/usr/bin:/bin" "CONSUL_HTTP_SSL=true"`

[2017-10-03 13:54] legal90 commented on #471
Hi @vitali-zevako,

It seems that `CONSUL_HTTP_SSL` env variable doesn't affect `agent` command. It makes sense only for user-faced commands, such as `acl`, `members`, `kv` and others (which are not covered by this cookbook), doesn't it?

For setting agent parameters, we recommend using config file options, which are managed by `node['consul']['config'][<option_name>]` attributes. That's the most

[2017-10-03 14:46] vitali-zevako commented on #471
Hi @legal90,

You are right. it will not affect

I looked for a way to prevent set manually env vars for consul cli commands with this cookbook and expected it will work if i update env vars for service, but that is different things.

Thanks for explanation, i will close a ticket

[2017-10-03 14:46] #471 closed

[2017-10-04 00:41] vvchik opened #472 "May you please bump version?"
looks like chef supermarket doesn't want to update cookbook, and still using cached copy.
and anyway it is good practice to bump cookbook version with any PR accepting.

Thank you!

[2017-10-07 20:11] Annih commented on #472
@johnbellone who is actively maintaining this cookbook ?
@legal90 told me he is not using Chef & Consul anymore, so it makes sens if he is less active, but what about you, or other maintainers?

[2017-10-07 21:21] johnbellone commented on #472
I can take a look tonight and push a release. We haven’t released on every
PR in the past.
On Sat, Oct 7, 2017 at 16:11 Baptiste Courtois <notifications@github.com>
wrote:

--
JB

[2017-10-11 16:17] eknudtson commented on #463
We're pointing our Berksfile entry for this cookbook at git vs the chef supermarket because of this.

[2017-10-11 16:46] northrup commented on #463
@johnbellone not to be a pain, but can we get some update on this?

[2017-10-11 18:51] phundisk commented on #472
Would also love to have this bumped up to account for all the windows bugfixes.  Right now I am pulling from the supermarket and its defaulting to version 3.0.0 and its missing some changes that were merged.  When I point directly to your git repo on master, my cookbook is working great!

[2017-10-12 12:46] johnbellone commented on #472
My apologies, I've been in middle of packing and moving, I've just bumped and released to supermarket as 3.1.0.

[2017-10-12 12:46] #472 closed

[2017-10-12 13:43] Annih commented on #472
Thanks @johnbellone
Do you know who are the other maintainers of this cookbook that we can ping when you are busy? :D

[2017-10-17 10:42] Lechucico opened #473 "Consul_definition structure doubts"
I would like to know which is the better aproach on defining consul_definition:

- Create a consul_definition on the recipe where the service is installed. For example: create a consul_definition inside the recipe where mongoDB is installed.

- Create a new recipe for each consul_definition. For example: install the mongoDB on his recipe, then execute another recipe that creates the consul_definit

[2017-10-23 04:12] Wing924 opened #474 "Custom resources do not implement to_json correctly"
to_json interface should be `def to_json(options = nil)` but was `def to_json`
It causes:
[code]

[2017-10-23 04:44] legal90 commented on #474
AFAIK, it's not supposed that this method will be called with arguments. When does this issue happen?

[2017-10-23 04:47] Wing924 commented on #474
@legal90 `JSON.generate` or `.to_json` will call that method with args.

[2017-10-23 05:50] legal90 commented on #474
`to_json` is a private method here and it's called without any arguments. All tests are passing fine.
Please, provide a scenario how can we reproduce this issue.

[2017-10-23 06:23] Wing924 commented on #474
@legal90
Create a Chef Handler like this:
[code]
ref. https://docs.chef.io/handlers.html

[2017-10-23 08:13] legal90 commented on #474
OK, now I got it.
So, the issue is caused by the method name collision. The proper way to fix it is just renaming our `to_json` methods to something unique. For example, to `params_to_json`.

I will send a PR.

[2017-10-23 08:22] legal90 commented on #474
@Wing924 Please, verify your handler with this fix applied: https://github.com/johnbellone/consul-cookbook/pull/476

[2017-10-30 08:55] #474 closed

[2017-10-31 13:45] orarnon opened #477 "node-id file is not replaced on the 2nd Chef run"
Hi,

We're creating servers in 2 phases: Bake and deploy.
In Bake phase, we use the installation of Consul (0.11.1) with Chef. We install agent version 0.8.4 and close the images.
In Deploy phase, we run the same cookbook again, and up until we've upgraded to 0.8.4, it worked flawlessly. Now, running the cookbook again does not change the node-id (under /var/lib/consul) and we're getting 2 servers

[2017-11-16 19:36] knightorc commented on #448
@pjjohnstone   I hit the same issue. It depended on which version of nssm.exe was on your system. I've tweaked our local copy of this cookbook so we can support nssm cookbook > 4.0

@Ginja I was going to issue a PR to summit my tweaks after I'd tested all use cases.

[2017-11-19 23:13] Wing924 opened #479 "stop signal should be SIGINT not SIGTERM"
/etc/systemd/system/consul.service
It should be:
[code]
TERM means force stop process while INT means graceful stop.

ref. https://www.consul.io/docs/agent/basics.html#stopping-an-agent

[2017-11-28 20:05] gdavison opened #480 "Proposal for Consul v1 parameter names"
With the release of Consul v1, a number of parameter names have been deprecated. See https://github.com/hashicorp/consul/blob/master/CHANGELOG.md, 1.0.0, Breaking Changes, "Deprecated Options Have Been Removed".

Most of the parameters have simplified equivalents in v1, so they can be mapped from v0.x to v1, but not from v1 to v0.x.

I propose adding the new parameters in addition to the deprecate

[2017-12-18 19:35] johnbellone commented on #480
@gdavison This makes sense to me. In the long run, e.g. new major version, we'd want to remove the old parameters. But I would not suggest doing that for quite awhile.

[2017-12-18 19:37] johnbellone commented on #463
This should have been updated with the latest release. As of right now my release procedure is running `stove` which cuts a tag and pushes to the repository.

[2017-12-18 19:37] #463 closed

[2017-12-18 19:39] johnbellone commented on #453
This has been disabled.

[2017-12-18 19:39] #453 closed

[2018-01-05 18:06] jescholl opened #483 "consul_definition doesn't allow lazy evaluation"
`consul_definition` serializes to JSON, then writes the serialized content out with a `file` resource's `content` attribute.  The serialization process makes it impossible to use chef's `lazy` evaluator within the parameters.

Here is a simple example.

[code]
results in a config file like this.
[code]

If, however you try to use the lazy evaluator...
[code]
the lazy evaluator gets serialized inst

[2018-01-15 14:59] Lasering opened #484 "tls_cipher_suites should be a comma separated list"
The recipe should convert the `tls_cipher_suites` array to a CSV which is what the consul agent is expecting. Otherwise we get the following error:
[code]

[2018-01-15 15:02] Lasering opened #485 "verify_incoming_rpc"
The [config verify_incoming_rpc](https://www.consul.io/docs/agent/options.html#verify_incoming_rpc) is not recognized as a valid one.

[2018-01-17 16:08] brianbaker opened #486 "consul service not started on windows"
On Windows 2008 R2 (I haven't had a chance to test on our 2012 machines but will update when I do) the consul service is not started upon being installed.  Updating `consul_service_windows.rb` to use `action %i(install start)` instead of just `action :install` fixes the issue.  I'm happy to submit a pull if you feel like this is the appropriate solution.

[2018-01-17 16:32] brianbaker opened #487 "acl_master_token must be set on non-server agents in order to reload windows service"
The config option `acl_master_token` must be set on non-server agents in order to reload the consul service on windows.  Per the [Consul ACL docs](https://www.consul.io/docs/guides/acl.html#complete-acl-coverage-in-consul-0-8) though:

For windows installations on non-server machines the consul reload fails.  As a work-around, we can populate `default['consul']['config']['acl_master_token']` with

[2018-01-19 14:36] quulah commented on #469
I'm running in to this same issue as well. I think the :install action would be okay.

[2018-01-19 14:37] quulah commented on #483
I'm currently creating the files through templates directly, but it would be nice to have lazy evaluation available.

[2018-02-11 06:56] gdavison commented on #451
@emachnic This is available on the `master` branch, but not yet in a numbered release

[2018-02-13 08:47] 123BLiN opened #489 "Restart system.d service during consul version update"
Maybe I'm missing something, but I can not find this in the cookbook.
Is it expected that I need to manually restart service on linux on every node (centos 7) during version upgrade? Btw on windows upgrade works great.

[2018-02-13 10:25] legal90 commented on #489
Hi @123BLiN . Yes, you got it right: https://github.com/johnbellone/consul-cookbook/issues/381#issuecomment-265076223

[2018-02-13 10:51] 123BLiN commented on #489
Oh, thank you!

The problem as I see it, is that we are not able to override this default behaviour for consul client nodes (not server nodes)

So have this setting as an attirbute may be much appreciated, so I will try to leave this ticket open.
I'm trying to override this in the resources("consul_service[consul]") but no luck so far :(

[2018-02-16 15:00] Lasering commented on #485
The PR #478 already fixes this issue. However it wasn't been merged yet.

[2018-02-16 15:00] #485 closed

[2018-03-10 00:51] pavannaganna opened #490 "Support to run agent as consul ui"
https://www.consul.io/intro/getting-started/ui.html

[2018-03-10 11:20] legal90 commented on #490
[code]
https://github.com/johnbellone/consul-cookbook/pull/396

[2018-03-10 11:20] #490 closed

[2018-04-04 20:23] onetwopunch opened #491 "Getting compile error on converge on Amazonlinux cannot load such file -- chef/mixin/language"
[code]

[2018-04-04 21:07] onetwopunch opened #492 "Feature Request: Add support for amazonlinux"
Converging on Amazon Linux, whose base OS is Centos, poise-service uses Upstart as the provider. Since it doesn't recognize the OS it fails the converge on service start.

[code]

Tested with Chef 12.11.18 on latext amazonlinux Docker container using kitchen-docker

[2018-04-05 07:35] dlarr commented on #236
Hello,

I am trying to install consul on windows 10 64bits. This is not working. I have tried all later versions:
* 1.0.6
* 1.0.5
* 1.0.3

All resulting in same effet, a window blink on my screen and nothing more happens :'(

Any idea how to fix this ? I really want to give a try to consul over ZooKeeper ;)

[2018-04-12 13:38] empath opened #493 "Have the vault and consul cookbooks been abandoned?"
Seems like there's very little activity and they're both several versions behind.

Are there any active forks that have done any work to update to the latest versions?

I'm probably going to fork and start the work myself, but I'd like not to duplicate effort if someone has already done it or is already working on it.

[2018-04-16 06:28] gdavison commented on #493
Hi @empath,

I've started (very slowly, admittedly) on adding the new v1.x parameters in a backwards-compatible way

[2018-04-25 16:16] johnbellone commented on #493
I have been accepting collaborators and maintainers for the past several months. That includes the management of the releases for the two cookbooks. @gdavison has offered to help out. And we can perform a release if that's what is needed. But I was under the impression that there was some more work that needed to go on before doing it.

[2018-04-25 16:26] johnbellone commented on #489
This is likely something we could easily make configurable using the **[poise_service_options](https://github.com/poise/poise-service#poise_service_options)** resource. It looks like this is overridable using [node attributes](https://github.com/poise/poise-service#service-options) as well.

[2018-05-03 20:10] shayangz commented on #493
A release would help a lot if possible specially for supporting missing config parameters.

[2018-05-09 20:41] scalp42 commented on #493
The issue is that old parameters were renamed as well (`statsd_addr` vs `statsd_address`). I think we should just rescue missing/invalid params and trust the user, instead of updating cookbook all the time IMO.

I'd not mind putting a PR together.

In the meantime, I'd port over the default recipe from `consul` cookbook and skip the `consul_config` recipe *or* write whatever needed onfig to `['con

[2018-05-11 06:38] gdavison commented on #493
#496 is work-in-progress

[2018-05-14 20:55] scalp42 commented on #493
@gdavison thanks for the PR.

I'd be more leaning toward letting the user handle the actual JSON rather than creating new classes per major (I'm guessing) Consul versions.

Would greatly reduce the churn as well if new attributes are added in minor versions.

Or best of both worlds I guess, simply adding a new `consul_custom_config` resource. What do you think?

[2018-06-02 17:50] knightorc opened #498 "consul 3.1.0 issue when testing with hashicorp-vault 3.0.0 git code"
I'm investigating this issue.

Testing pre release hashicorp-vault and I'm seeing it mucking with consul, 3.0.0 and 3.1.0

[code]

Specifically noticed this  `cwd "C:\\Program Files\\vault\\0.8.4"`  which was weird. should be `consul` not `vault`

[2018-06-02 17:53] knightorc commented on #498
This is being polluted `cwd ::File.dirname(new_resource.program)`

[2018-06-02 18:13] knightorc commented on #498
Both cookbooks have in their helper.rb library ( I believe this is where the issue stems from)

consul

[code]

hashicorp-vault

[code]

Offending Node.send lines....

[2018-06-18 19:13] mfischer90 commented on #484
This still seems to be an issue, makes using this variable impossible

[2018-06-18 19:17] ragarcia26 commented on #484
bump, seeing this too

[2018-06-18 19:38] mfischer90 commented on #484
#501 created to fix

[2018-08-03 20:41] knightorc opened #503 "windows_path in library breaks with linux chef-client < 13.x.x and windows community cookbook >= 5.0.0"
We unlocked our copy of consul-cookbook from windows ~> 3.1 awhile ago, since it block us using Windows ~> 4.0

In testing the new Windows 5.0.0 cookbook I discovered the use of the windows_path here:

https://github.com/johnbellone/consul-cookbook/blob/5fd61fbcd97992e394531fbde41e67fcf6c24268/libraries/consul_installation_binary.rb#L67

breaks linux use of this cookbook when the linux client vers

[2018-08-03 20:51] knightorc commented on #503
The big change in the Windows community cookbook @5.0.0 is the removal of the cookbook resource `windows_path`

[2018-08-15 20:33] scalp42 commented on #493
I guess that never happened 🌵

[2018-08-31 06:36] pierresouchay commented on #493
@scalp42 Completely agree here.

@gdavison @johnbellone Can we help to release new versions of this Cookbook ?

We need those PR in a new release:

 * https://github.com/johnbellone/consul-cookbook/pull/502 discovery_max_stale - merged
 * https://github.com/johnbellone/consul-cookbook/pull/504 Consul Connect support

While the first one has been merged, no new version has been released

[2018-09-03 22:42] gdavison commented on #503
Does the windows cookbook 4.x work for you? I've had to lock a few cookbooks to ~> 4.3 at work. Want to create a PR? :)

[2018-10-03 14:09] Lasering opened #505 "Release on chef supermarket"
This repo/cookbook has a lot of merged changes that would be very helpful if released on Chef supermarket.

I can help releasing it to supermarket.

[2018-10-09 16:31] jeffbyrnes opened #506 "Recent Chef version (Chef 14.5.33?) breaks consul_config resource"
I’ve filed an issue upstream over here: poise/poise#37

Figured I’d open one here, too, just in case. Here’s the relevant backtrace:

[code]

[2018-10-10 19:39] Gary-Armstrong opened #507 "Deprecation from windows_auto_run"
Today I started trying this consul cb on CentOS 7 with chef-client 14.3.37, and I get a CHEF-25 on many windows_ features.  I searched here and am a little surprised that I don't find any reference to this.  No doubt this was expected by some and seen already by others?

For now I have suppressed CHEF-25 in TK, but if there is some guidance other than wait for an update, please let me know.

[2018-11-08 21:41] jeffbyrnes commented on #506
This remains an issue, I wonder if it makes sense to move away from using poise?

[2018-11-12 17:49] jeffbyrnes commented on #506
Based on the fact that nothing can test properly right now b/c of this, it seems like a _really_ good idea to move away from using `poise`. Sadly, that’s a rather serious refactor, though I think it would be an overall win for the cookbook.

[2018-11-29 22:54] eheydrick opened #512 "3.1.0 Changelog missing"
3.1.0 is the latest on Supermarket but the Changelog does not show the changes between 3.0.0 and 3.1.0.

[2018-12-18 13:54] Lasering opened #515 "Support the new configuration format in Consul 1.4.0"
https://www.consul.io/docs/agent/options.html#configuration-key-reference

Notably acl configurations no longer use smurf notation and are now inside their own object:

[code]

`acl_datacenter` is now `primary_datacenter`

[2018-12-20 23:49] sean-horn commented on #491
Because you have Chef Client 14.x, you probably now need to blow away caches and update your windows cookbook to the latest. The latest windows cookbook doesn't even include that resource, as it is embedded in chef-client now. It's also possible your chef server may have cached a confused merge of two versions of that cookbook through berkshelf action too. See https://github.com/chef-cookbooks/win

[2018-12-30 13:42] ranschn commented on #515
Any estimations when this will be implemented?

[2019-01-07 15:37] #512 closed

[2019-01-21 16:05] Lasering commented on #515
From what I can see the only changes to the configuration are the ones I mentioned. I just didn't list all the acl options.

[2019-02-13 10:02] tohimon opened #517 "Support for the new parameter enable-local-script-checks"
Hi
could you please add support for the new parameter  enable-local-script-checks introduced in consul 1.3.0 and backported to versions 1.2.4, 1.1.1, 1.0.8, and 0.9.4 ?
Thanks

[2019-04-09 14:00] Lasering commented on #515
Will a PR help?

[2019-04-26 00:56] scalp42 commented on #515
I'll reiterate what I've said in the past, we should simply allow a free form JSON resource for the Consul configs.

You can already do that without waiting for the cookbook to be updated:

[code]

[2019-04-26 00:57] scalp42 opened #520 "Support Consul 1.4.0+ ACL system"
Placeholder issue, as we need Diplomat to be updated before but a simple resource matching the name of a token on the new ACL system will fail.

For example, this resource will fail on Consul 1.4.x:

[code]

Related to https://github.com/WeAreFarmGeek/diplomat/issues/193

[2019-05-01 00:11] scalp42 commented on #520
Working on it.

[2019-05-09 20:41] damacus commented on #517
Hi there!

Thanks for taking the time to submit an issue.

We would happily accept a pull request to resolve this issue. If you need help or guidance on submitting, please don't hesitate to ask!

If you need help, or just wish to talk through issue please [join the Chef Community Slack](http://community-slack.chef.io/) and look for the #sous-chefs channel.

Thanks,
Sous-Chefs

[2019-05-09 20:42] damacus commented on #493
Hi @scalp42 would you like to help maintain the consul cookbook on a more formal basis, your PRs have been most helpful so far!

[2019-05-09 20:42] #493 closed

[2019-05-09 20:42] damacus commented on #493
Closing as I think the question has been answered.

[2019-05-09 20:43] damacus commented on #498
Closed via #500

if this is incorrecrt pleas reopen

[2019-05-09 20:43] damacus commented on #503
Hi there!

Thanks for taking the time to submit an issue.

We would happily accept a pull request to resolve this issue. If you need help or guidance on submitting, please don't hesitate to ask!

If you need help, or just wish to talk through issue please [join the Chef Community Slack](http://community-slack.chef.io/) and look for the #sous-chefs channel.

Thanks,
Sous-Chefs

[2019-05-09 20:44] damacus commented on #505
@Lasering if you can drop by the sous-chefs room on the Chef community Slack an introduce yourself, we'll happily have another maintainer onboard!

Thanks,
Dan

[2019-05-09 20:44] #505 closed

[2019-05-09 20:45] damacus commented on #506
It's totally on our radar. We've recently removed poise from haproxy, we're up to our eyeballs in oher cookbooks right now. But we're happy to help point and assit newcomers in this envedor!

[2019-05-09 20:46] #507 closed

[2019-05-09 20:46] damacus commented on #515
Closing as fixed. If  this isn't the case please feel free to reopen and discuss more!

[2019-05-09 20:47] damacus commented on #470
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-09 20:47] #470 closed

[2019-05-09 20:47] damacus commented on #469
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-09 20:47] #469 closed

[2019-05-09 20:47] #465 closed

[2019-05-09 20:47] damacus commented on #465
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-09 20:47] damacus commented on #451
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-09 20:47] #451 closed

[2019-05-09 20:48] damacus commented on #432
I'm closing this as it's a general chef-client issue. If you still require further help with this, please drop in on the chef community Slack. Thanks!

[2019-05-09 20:48] #432 closed

[2019-05-09 20:48] damacus commented on #406
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-09 20:48] #406 closed

[2019-05-09 20:48] damacus commented on #390
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-09 20:48] #390 closed

[2019-05-09 20:49] damacus commented on #390
This may get swept up if this cookbook ever gets rewritten away from poise.

[2019-05-09 20:49] damacus commented on #383
Closing as fixed.

[2019-05-09 20:49] #383 closed

[2019-05-09 20:49] damacus commented on #486
Hi there!

Thanks for taking the time to submit an issue.

We would happily accept a pull request to resolve this issue. If you need help or guidance on submitting, please don't hesitate to ask!

If you need help, or just wish to talk through issue please [join the Chef Community Slack](http://community-slack.chef.io/) and look for the #sous-chefs channel.

Thanks,
Sous-Chefs

[2019-05-09 20:50] damacus commented on #487
Hi there!

Thanks for taking the time to submit an issue.

We would happily accept a pull request to resolve this issue. If you need help or guidance on submitting, please don't hesitate to ask!

If you need help, or just wish to talk through issue please [join the Chef Community Slack](http://community-slack.chef.io/) and look for the #sous-chefs channel.

Thanks,
Sous-Chefs

[2019-05-09 20:50] damacus commented on #489
Hi there!

Thanks for taking the time to submit an issue.

We would happily accept a pull request to resolve this issue. If you need help or guidance on submitting, please don't hesitate to ask!

If you need help, or just wish to talk through issue please [join the Chef Community Slack](http://community-slack.chef.io/) and look for the #sous-chefs channel.

Thanks,
Sous-Chefs

[2019-05-09 20:50] damacus commented on #491
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-09 20:50] #491 closed

[2019-05-09 20:51] damacus commented on #492
Hi there!

Thanks for taking the time to submit an issue.

We would happily accept a pull request to resolve this issue. If you need help or guidance on submitting, please don't hesitate to ask!

If you need help, or just wish to talk through issue please [join the Chef Community Slack](http://community-slack.chef.io/) and look for the #sous-chefs channel.

Thanks,
Sous-Chefs

[2019-05-09 20:51] #498 closed

[2019-05-09 20:51] damacus commented on #484
Closing via #501

[2019-05-09 20:51] #484 closed

[2019-05-09 20:52] damacus commented on #483
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-09 20:52] #483 closed

[2019-05-09 20:52] damacus commented on #480
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-09 20:52] damacus commented on #479
Hi there!

Thanks for taking the time to submit an issue.

We would happily accept a pull request to resolve this issue. If you need help or guidance on submitting, please don't hesitate to ask!

If you need help, or just wish to talk through issue please [join the Chef Community Slack](http://community-slack.chef.io/) and look for the #sous-chefs channel.

Thanks,
Sous-Chefs

[2019-05-09 20:52] damacus commented on #477
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-09 20:53] damacus commented on #473
Closing due to inactivity.

If this is still an issue please reopen or open another issue. Alternatively drop by the #sous-chefs channel on the [Chef Community Slack](http://community-slack.chef.io/) and we'll be happy to help!

Thanks,
Sous-Chefs

[2019-05-09 20:53] #477 closed

[2019-05-09 20:53] #473 closed

[2019-05-09 20:53] #480 closed

[2019-05-09 20:56] pierresouchay commented on #493
@damacus we are not using the community cookbook for the same reasons as @scalp42 but we would be glad to help it improving and handle more easily new features of Consul

[2019-05-09 20:57] damacus commented on #493
That would be awesome!

@pierresouchay please feel free to drop by the sous-chefs room in the Chef community Slack.

In the mean time I think we have a small contingent of people willing to moderise this cookbook.

[2019-05-10 02:46] scalp42 commented on #493
I'm strongly considering forking the cookbook ala mongodb from back in the days. The new ACL model in Consul feels like a good time to tackle this, removing poise, properly using test-kitchen, etc etc.

I'm not even sure who's leading the development on this cookbook to be transparent as @pierresouchay and I have emitted the same concerns but bad patterns (the whole v0/v1 provider approach) were m

[2019-05-10 10:22] Lasering commented on #505
Hi @damacus, I'm still available to help release the cookbook to the supermarket.

[2019-05-11 08:13] damacus commented on #493
@scalp42 feel free to do that right here. We're looking for new community contributors right now, and you seem like you know what your doing,abd you're active.

[2019-07-01 18:18] Lasering commented on #515
@damacus I can't reopen. Although I can use the above code to fix it, I shouldn't have to:
The idea of having a cookbook/recipe is to abstract the way a certain program is installed/managed. With the above approach I would have to include that snipped in all the services which will install the consul agent.

[2019-10-09 22:39] PowerSchill opened #532 "Dangerfile should use failure instead of fail"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

On the repo, ensure that `Dangerfile` matches https://github.com/sous-chefs/repo-management/blob/master/Dangerfile

Issue sprouted from sous-chefs/meta/issues/110. If not applicable then i

[2019-10-09 22:39] PowerSchill opened #533 "Remove .rubocop.yml with Dangerfile"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

If the only thing in the `.rubocop/yml` is Dangerfile
Run the latest cookstyle
Remove `.rubpopo.yml`

Issue sprouted from sous-chefs/meta/issues/108. If not applicable then issue should be

[2019-10-09 22:39] PowerSchill opened #534 "Update Changelog"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Update all CHANGELOGs to follow standard defined at <https://keepachangelog.com/>

Issue sprouted from sous-chefs/meta/issues/101. If not applicable then issue should be closed.

[2019-10-09 22:39] PowerSchill opened #535 "Run latest cookstyle"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Chef have released updated cookstyle rules, we should therefore run the auto fix against the cookbook

1. Ensure you are on the latest stable `chef-workstation`
1. Run `cookstyle -a`

Issu

[2019-10-09 22:39] PowerSchill opened #536 "Update builds to be parallel"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

As part of our build process we should build each possible operating system separately

1. Ensure you have dokken setup and working:
  1. dokken: aliased to KITCHEN_LOCAL_YAML=kitchen.dokk

[2019-10-12 18:34] #532 closed

[2019-12-18 22:36] freakinhippie commented on #506
@damacus Would you please point me in the direction of how you'd like the see poise removed from this cookbook? I'd be interested in giving it a shot if I can find the time.

[2019-12-19 18:58] JohnRoesler commented on #506
@freakinhippie here is the PR where we removed poise in haproxy https://github.com/sous-chefs/haproxy/pull/353/files

The general approach was to rebuild the service resources rather than trying to change what was in place. In the case of haproxy, installing it on a linux server directly gave a default systemd unit file and then that was used in conjunction with the chef systemd_unit and service r

[2020-01-27 02:45] tas50 commented on #536
Closing this since we migrated to Github Actions

[2020-01-27 02:45] #536 closed

[2020-01-27 02:46] #520 closed

[2020-01-27 02:46] tas50 commented on #520
Closing this out since this was merged in

[2020-01-27 23:26] jslusher opened #545 "undefined method `join_path' for PoiseArchive::Resources::PoiseArchive::Resource"
I started getting the following error when running a chef-client on nodes using the consul cookbook:

[code]

[code]
`version 14.9.13` on centos 7 in AWS

It seems to be a poise dependency. It coincides with an update of the `vault` cookbook that removes the `default` recipe and I noticed the poise deps were removed there.

[2020-01-30 13:33] ermusthofa commented on #545
is it by any chance you solved this issue ? I also have this problem.

[2020-01-30 17:18] jslusher commented on #545
I'm working around it at the moment by locking the version of this (consul) cookbook to `3.1.0`, but I suspect there needs to be a change in one of the `poise-*` dependencies before it's fixed.

[2020-02-03 02:56] ermusthofa commented on #545
Hi @jslusher, I tried to pin the consul cookbook on version 3.1.0, but it doesn't seems to temporary resolve the issue. Would you be more specific ?

I see the join_path method in consul libraries, is it possible to do the modification there ?

[2020-02-03 17:35] jslusher commented on #545
I didn't have to do any tampering with the cookbook itself, I just had to set this in `metadata.rb` in  my wrapper cookbook:

[code]

[2020-02-04 02:07] scalp42 commented on #545
I can confirm it's broken in the current state @tas50, investigating.

[2020-02-04 05:24] scalp42 commented on #545
Merged, we can close this.

[2020-02-04 05:28] #545 closed

[2020-03-09 20:03] fortman opened #549 "Segment part of the config is wrong type"
## :ghost: Brief Description

Segment config should be array instead of map

## :pancakes: Cookbook version

3.3.1

## :woman_cook:  Chef-Infra Version

Chef Workstation version: 0.14.16
Chef Infra Client version: 15.6.10
Chef InSpec version: 4.18.39
Chef CLI version: 2.0.0
Test Kitchen version: 2.3.4
Cookstyle version: 5.19.9

## :tophat: Platform details

Kitchen and vagrant, running Ubuntu 18.0

[2020-03-09 20:28] fortman commented on #549
Also, you can see from the documentation it shows as a list.  I believe it has always been this way.

https://www.consul.io/docs/agent/options.html#segments

[2020-03-18 10:01] SuperQ opened #551 "Poise dependency is abandoned"
## Brief Description

The cookbook depends on [poise](https://github.com/poise/poise), which is now archived and abandoned. This should be removed to avoid future cookbook breakage.

## Cookbook version

3.0.0

## Chef-Infra Version

Any

## Platform details

Any

[2020-03-19 02:29] JohnRoesler commented on #551
Yes - we should remove the poise dependency. It's been on our list - just haven't gotten to it. Fancy taking a run at it?

[2020-03-19 08:00] SuperQ commented on #551
Part of the poise setup is picking a supervisor. What is the recommended replacement? Normally we build our cookbooks services with `systemd_unit` resources.

[2020-03-19 16:06] JohnRoesler commented on #551
A lot of our cookbooks are moving to supporting systemd only as the major OS versions seem to be moving that way.

This cookbook also should be moved to custom resources as that's the best practice pattern today...lots of work needed here.

[2020-03-30 14:43] #503 closed

[2020-04-06 14:36] emachnic commented on #517
@tohimon It looks like #542 may have resolved this. Can you check?

[2020-04-06 16:32] emachnic opened #555 "Rewrite Consul cookbook to use custom resources"
### :speaking_head: Foreword

Thank for taking the time to fill this feature request fully. Without it we may not be able to , and the issue may be closed without resolution.

## :person_frowning: Problem Statement

This cookbook is a mess of custom libraries that are difficult to maintain.

## :grey_question: Possible Solution

We should rewrite the Consul cookbook to use [Chef custom resources](

[2020-04-07 08:55] tohimon commented on #517
It has, thank you!

[2020-04-07 08:55] #517 closed

[2020-06-03 14:28] johnbellone commented on #555
I totally agree here, but unfortunately do not have time to do it myself.

[2020-06-03 14:32] johnbellone commented on #555
I think its fair to assume major version breaking changes. 🏛️🚚

[2020-06-15 16:54] emachnic commented on #555
@johnbellone I've actually been working on a rewrite for this for a major version release that will leverage custom resources. It's been a long process thus far and I've had to refocus but hopefully be able to pick it back up

[2020-06-19 17:10] mbaitelman commented on #533
Completed with updates from sous-chefs/repo-management

[2020-06-21 18:24] #533 closed

[2020-08-04 20:11] theanirudhvyas commented on #479
I'd like to pick up the issue, if it is still relevant. @damacus will raise a PR for it.

[2020-08-04 20:36] theanirudhvyas commented on #555
Instead of doing a complete rewrite in a single commit, I'll suggest that we gradually migrate individual features (like consulDefinition) one at a time in separate releases. This will help us ensure backward compatibility and also reduce the probability of bugs.
WDYT @johnbellone @emachnic ?

[2020-08-04 20:57] emachnic commented on #555
@theanirudhvyas that would normally be the best way but, after having gone through a lot of this cookbook, a complete rewrite is probably the most expeditious.

[2020-08-25 19:29] eReGeBe opened #568 "`services` definition throws "no implicit conversion of Symbol into Integer""
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

With a service definition like the following one:

[code]

We get following error:

[code]

(full output at https://gitlab.com/gitlab-cookbooks/gitlab-patroni/-/jobs/698381424#L924)

## :p

[2020-08-25 19:35] eReGeBe commented on #568
This used to work for us in previous versions. We've established that it breaks from v3.1.0 to v3.2.0, though we're not sure what change made it stop working https://github.com/sous-chefs/consul/compare/v3.1.0..v3.2.0.

We also tried with the latest version (v4.0.3) and we had the same issue. We can make our chef-client runs pass with the following patch, though we're not sure if it's optimal:

[c

[2020-08-25 20:41] ramereth commented on #568
@eReGeBe could you please make a PR which includes this fix so we can see how this goes with tests?

[2020-08-26 17:14] eReGeBe commented on #568
@ramereth sure, created https://github.com/sous-chefs/consul/pull/569

[2020-08-31 16:14] #568 closed

[2020-08-31 21:36] #549 closed

[2020-09-30 11:22] Lasering commented on #515
I can make a PR it that helps

[2020-09-30 21:54] mattlqx opened #574 "Support arm64 on linux"
## :ghost: Brief Description

Running the consul cookbook to do a binary installation of consul on an arm64 host fails to properly formulate the url for download.

[code]

A `uname -a` for the host shows:

[code]

## :pancakes: Cookbook version

4.0.5

## :woman_cook:  Chef-Infra Version

14.15.6

## :tophat: Platform details

AWS (t4g.medium), Ubuntu 18.04

## Steps To Reproduce

Steps to reprodu

[2020-10-01 17:25] #574 closed

[2020-10-04 05:25] ramereth commented on #506
Duplicate of #551

[2020-10-04 05:25] #506 closed

[2020-10-16 00:30] #535 closed

[2020-10-16 00:30] #534 closed

[2021-01-02 19:13] zhemer commented on #515
Hello All,
As I use Chef with Consul cookbook and didn't find any soft that can be capable to set Consul's new non-legacy ACL to some state, I wrote console app that does that - https://gitlab.com/zhemer/consul_acl
Now recipe works fine with this helper)
[code]

[2021-02-09 16:58] Sapr0 opened #581 "Diplomat gem fails on Chef 16.9.29+"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

Cookbooks fails to load `diplomat` gem

## :pancakes: Cookbook version

4.3.1

## :woman_cook:  Chef-Infra Version

Chef Infra Client: 16.9.29

## :tophat: Platform details

Amazon Linux A

[2021-02-09 23:26] ramereth commented on #581
This is really an upstream issue. I'm happy to see that you've opened up an [issue](https://github.com/WeAreFarmGeek/diplomat/issues/214) and [PR](https://github.com/WeAreFarmGeek/diplomat/pull/215) to get it fixed there.

This does bring up the fact that we don't test this at all in the current kitchen tests. Do you think you could add a suite which tests it so we can verify this is fixed upstrea

[2021-02-10 09:16] pierresouchay commented on #581
A new release of diplomat 2.5.0 has been created (which breaks the pre ruby 2.5 compatibility), hope it will fix the issue thanks to @Sapr0

[2021-02-10 10:23] Sapr0 commented on #581
@ramereth i looked at one of the runs: https://github.com/sous-chefs/consul/runs/1590571470?check_suite_focus=true

It seems the kitchen tests are on chef 17.0.1
Not sure how you want to test a combination of OS and chef version, it can easily explode into a cartesian product

[2021-02-10 11:59] Sapr0 commented on #581
I've re-run the cookbook and it now downloads the newest diplomat gem and everything is working as expected.

[2021-02-10 11:59] #581 closed

[2021-02-10 22:01] evandam opened #582 "Error in configure_diplomat with Diplomat 2.5.0"
## :ghost: Brief Description

After the release of [Diplomat 2.5.0](https://github.com/WeAreFarmGeek/diplomat/releases/tag/v2.5.0), I'm seeing errors coming from `configure_diplomat`.

## :pancakes: Cookbook version

`4.3.1`

## :woman_cook:  Chef-Infra Version

`15.15.1`

## :tophat: Platform details

Ubuntu 18.04

## Steps To Reproduce

Run the following recipe with `diplomat_version` not set (o

[2021-02-10 22:37] pierresouchay commented on #582
what is the ruby version running chef ? Could it be running 2.4?

[2021-02-10 22:38] evandam commented on #582
Hi @pierresouchay

Chef is using Ruby 2.6.6, still above the minimum version according to Diplomat.

[code]

[2021-02-10 22:40] pierresouchay commented on #582
Ok, so what does the line
[code]
means exactly?

=> it means the dependency to the recipe should have been included first?

[2021-02-10 22:45] evandam commented on #582
I am including the `consul::client_gem` recipe, and can confirm that the gem is installed. I consistently get this error trying to converge in kitchen.

[2021-02-10 22:46] scalp42 commented on #582
The line can says whatever, it's included 🤦‍♂️

[2021-02-10 22:49] pierresouchay commented on #582
Ok, so, what's the issue?

Two changes have been made:
* increasing the minimum Ruby version to 2.5 => does not seem to be the culprit
* increasing the minimum version of faraday => might be the issue?

Any idea?

/me hate ruby dependencies

[2021-02-10 22:54] evandam commented on #582
Not sure what the issues, just reporting the behavior 😅

The gem is definitely installed and doesn't seem like any dependency issues:

[code]

I can also use the gem in `/opt/chef/embedded/bin/pry` seemingly okay 🤷‍♂️:

[code]

In the meantime pinning the gem to `2.4.4` solves my problem

[2021-02-10 23:10] pierresouchay commented on #582
@evandam Could you try to modify the cookbook, change the file `libraries/consul_policy.rb` and modify line 135 and 137 to:

[code]
=> then re-launch convergence (skipping the cookbook updates if necessary) to get a maybe better error message?

Still I suspect faraday to be the culprit... maybe the error message will be clearer

In your shell, could you also do:
[code]

[2021-02-10 23:23] evandam commented on #582
Good call, it's related to Faraday

[code]

[2021-02-10 23:49] pierresouchay commented on #582
Hello @evandam & @scalp42

I fixed the issue in diplomat... I was very suspicious about the GEM recent bump in chef-client: https://github.com/chef/chef/commit/72439d4d972766f24632631769763157a9e28cd6#diff-89cade48462044ee1b672dc5f4c3ec250fbd29effcd8932096a23c1283c6731fL203

* I created a new 2.5.1 version of diplomat that release the constraint on the GEM faraday, it should work now.
* I also cre

[2021-02-10 23:56] evandam commented on #582
Thanks @pierresouchay! Just confirmed the new version of the gem works 👌

[2021-02-10 23:56] #582 closed

[2021-02-11 00:00] pierresouchay commented on #582
Still, I recommend to vote for https://github.com/sous-chefs/consul/pull/583 ... would have helped quite a lot the diagnostic

[2021-06-04 21:17] askmike1 opened #590 "Chef 17 - Poise no longer works"
### :speaking_head: Foreword

Thank for taking the time to fill this bug report fully. Without it we may not be able to fix the bug, and the issue may be closed without resolution.

## :ghost: Brief Description

The poise cookbook has been deprecated for some time, with Chef 17 it no longer compiles.

## :pancakes: Cookbook version

4.5.2

## :woman_cook:  Chef-Infra Version

17.1.35

## :tophat: